.emergencia {
    background-color: red;
    height: 25px;
    width: 50px;
    border: 1px solid grey;
    border-radius: 10px;
}

.muitoUrgente {
    background-color: orange;
    height: 25px;
    width: 50px;
    border: 1px solid grey;
    border-radius: 10px;
}
.urgente {
    background-color: yellow;
    height: 25px;
    width: 50px;
    border: 1px solid grey;
    border-radius: 10px;
}
.poucoUrgente {
    background-color: green;
    height: 25px;
    width: 50px;
    border: 1px solid grey;
    border-radius: 10px;
}

.naoUrgente {
    background-color: blue;
    height: 25px;
    width: 50px;
    border: 1px solid grey;
    border-radius: 10px;
}
