<div class="p-grid p-fluid"></div>
<form [formGroup]="parentFormGroup">
    <div class="p-col-12 p-grid">
        <div class="p-md-4">
            <label>{{ label }}</label>
        </div>
    </div>
    <div class="p-col-12 p-grid">
        <div class="p-md-1" *ngIf="showTree">
            <app-arvore (onSelect)="aoSelecionarCidNaArvore($event)"></app-arvore>
        </div>
        <div class="p-md-8">
            <p-dropdown
                [options]="cids"
                [filter]="true"
                (onChange)="aoSelecionarCid($event)"
                emptyFilterMessage="Nenhum registro encontrado."
                [virtualScroll]="true"
                placeholder="Selecione"
                itemSize="50"
                [showClear]="showClear"
                [formControlName]="name"
                [required]="required"
            ></p-dropdown>
        </div>
    </div>
</form>
