<h1>Servidores</h1>

<form #form [formGroup]="formServidor" (ngSubmit)="submit()">
    <div class="card">
        <div class="p-col-12 p-grid">
            <div class="p-md-12">
                <h2 class="sub-title">Cadastro de Servidor</h2>
                <div class="p-col-12 p-grid">
                    <div class="p-md-6 p-lg-3">
                        <span class="p-float-label">
                            <p-autoComplete field="nome" formControlName="codigo" 
                                [suggestions]="listaPessoasServidor" (completeMethod)="buscaPessoas($event)"
                                (onSelect)="aoSelecionarUmaPessoa($event)" [dropdown]="true"></p-autoComplete>
                            <label>Nome</label>
                        </span>
                        <p-message severity="error" text="Nome do servidor obrigatório" *ngIf="
                                formServidor.controls['codigo'].errors?.required &&
                                formServidor.controls['codigo'].touched">
                        </p-message>
                    </div>
                    <div class="p-col-12 p-md-6 p-lg-3">
                        <span class="p-float-label">
                            <input type="text" pInputText disabled formControlName="idade" />
                            <label>Idade</label>
                        </span>
                    </div>
                </div>
            </div>

            <div class="p-col-12 p-grid">
                <div class="p-col-12 p-md-6 p-lg-3">
                    <span class="p-float-label">
                        <p-dropdown [options]="login" [optionLabel]="'login'" [optionValue]="'id'"
                            formControlName="login">
                        </p-dropdown>
                        <label>Login</label>
                    </span>
                </div>
                <div class="p-md-3 p-sm-12">
                    <span class="p-float-label">
                        <span class="p-float-label">
                            <p-autoComplete field="descricao" formControlName="vinculo"
                                [suggestions]="listaVinculosServidor" (completeMethod)="buscaVinculos($event)"
                                (onSelect)="aoSelecionarUmVinculo($event)" [dropdown]="true"></p-autoComplete>
                            <label>Vínculo</label>
                        </span>
                    </span>
                </div>
                <div class="p-md-3 p-sm-12">
                    <span class="p-float-label">
                        <input type="text" pInputText disabled formControlName="matricula" />
                        <label>Matrícula</label>
                    </span>
                </div>
                <div class="p-md-3 p-sm-12">
                    <span class="p-float-label">
                        <input type="text" pInputText formControlName="codigoStarh" />
                        <label>Código STARH</label>
                    </span>
                </div>
            </div>

            <div class="p-col-12 p-grid">
                <div class="p-md-3 p-sm-12">
                    <span class="p-float-label">
                        <p-calendar formControlName="inicioDoVinculo" [locale]="localizacao" dateFormat="dd/mm/yy"
                            monthNavigator="true" yearNavigator="true" [showIcon]="true" inputId="icon">
                        </p-calendar>
                        <label>Início do Vínculo</label>
                    </span>
                    <p-message severity="error" text="Início do Vínculo obrigatório" *ngIf="
                                formServidor.controls['inicioDoVinculo'].errors?.required &&
                                formServidor.controls['inicioDoVinculo'].touched">
                    </p-message>
                </div>
                <div class="p-md-3 p-sm-12">
                    <span class="p-float-label">
                        <p-calendar formControlName="fimDoVinculo" [locale]="localizacao" dateFormat="dd/mm/yy"
                            monthNavigator="true" yearNavigator="true" [showIcon]="true" inputId="icon">
                        </p-calendar>
                        <label>Fim do Vínculo</label>
                    </span>
                </div>
                <div class="p-md-3 p-sm-12">
                    <span class="p-float-label">
                        <p-dropdown [options]="situacaoDoServidor" formControlName="situacao">
                        </p-dropdown>
                        <label>Situação</label>
                    </span>
                </div>
                <div class="p-md-3 p-sm-12">
                    <span class="p-float-label">
                        <p-dropdown [options]="opcoesDeSituacaoDoServidor" formControlName="situacaoDoServidor">
                        </p-dropdown>
                        <label>Situação do servidor</label>
                    </span>
                </div>
            </div>

            <div class="p-col-12 p-grid" style="align-items: center;">
                <div class="p-col">
                    <span class="p-float-label">
                        <p-dropdown [options]="centros" [optionLabel]="'descricao'" [optionValue]="'id'"
                            formControlName="centroDeAtividadeIdLotacao"></p-dropdown>
                        <label>Centro de Atividade Lotação</label>
                    </span>
                </div>
                <div class="p-col">
                    <span class="p-col p-float-label">
                        <p-dropdown [options]="centros" [optionLabel]="'descricao'" [optionValue]="'id'"
                            formControlName="centroDeAtividadeIdAtuacao"></p-dropdown>
                        <label>Centro de Atividade Atuação</label>
                    </span>
                </div>
            </div>

            <div class="p-col-12 p-grid">
                <div class="p-md-3 p-sm-12">
                    <span class="p-float-label">
                        <p-dropdown [options]="ocupacaoDeCargos" [optionLabel]="'descricao'" [optionValue]="'id'"
                            formControlName="ocupacao"></p-dropdown>
                        <label>Ocupação</label>
                    </span>
                </div>
                <div class="p-md-3 p-sm-12">
                    <span class="p-float-label">
                        <p-dropdown [options]="grupoFuncional" [optionLabel]="'descricao'" [optionValue]="'id'"
                            formControlName="grupoFuncional">
                        </p-dropdown>
                        <label>Grupo Funcional</label>
                    </span>
                </div>
                <div class="p-md-3 p-sm-12">
                    <span class="p-float-label">
                        <p-dropdown [options]="opcoesDeTipoDeRemuneracao" formControlName="tipoDeRemuneracao">
                        </p-dropdown>
                        <label>Tipo de Remuneração</label>
                    </span>
                </div>
                <div class="p-md-3 p-sm-12">
                    <span class="p-float-label">
                        <p-dropdown [options]="ramal" [optionLabel]="'numero'" [optionValue]="'id'"
                            formControlName="ramal">
                        </p-dropdown>
                        <label>Ramal</label>
                    </span>
                </div>
            </div>

            <div class="p-col-12 p-grid">
                <div class="p-md-3 p-sm-12">
                    <span class="p-float-label">
                        <input type="text" pInputText formControlName="cargaHoraria" />
                        <label>Carga Horária</label>
                    </span>
                </div>
                <div class="p-md-3 p-sm-12">
                    <span class="p-float-label">
                        <input type="text" pInputText formControlName="tempoDeContrato" />
                        <label>Tempo de Contrato</label>
                    </span>
                </div>
                <div class="p-md-3 p-sm-12">
                    <span class="p-float-label">
                        <input type="text" pInputText formControlName="funcaoDoCracha" />
                        <label>Função do Crachá</label>
                    </span>
                </div>
                <div class="p-md-3 p-sm-12">
                    <span class="p-float-label">
                        <input type="text" pInputText formControlName="chefeDoCentroDeAtividade" />
                        <label>Chefe do C. Atividade</label>
                    </span>
                </div>
            </div>
        </div>
        <div class="p-grid p-jc-end">
            <button pButton type="submit" label="Salvar" pTooltip="Salvar registro de servidor"
                [disabled]="!valid()"></button>
        </div>
    </div>
</form>