<div class="p-grid p-fluid">
    <div class="p-col-12 p-grid">
        <div class="card card-w-title">
            <h1>Transferências Automáticas (Não Efetivadas)</h1>
            <div class="p-grid">
                <div class="p-md-12 p-fluid">
                    <span class="md-inputfield p-float-label" style="margin-top: 5px;">
                        <input type="text" pInputText class="p-inputtext" />
                        <label>Placeholder</label>
                    </span>
                </div>
                <div class="p-col-12 p-grid">
                    <div class="p-md-2"></div>
                    <div class="p-md-6">
                        <button
                            pButton
                            type="button"
                            label="Pesquisar"
                            icon="p-icon-search"
                        ></button>
                    </div>
                </div>
                <div class="p-col-12 p-grid p-md-3"></div>
                <basis-datatable
                    type="server"
                    [url]="datatableUrl"
                    [disableDelete]="true"
                    [disableEdit]="true"
                    [disableView]="true"
                    (buttonClick)="onDatatableButtonClick($event)"
                    #datatable
                >
                    <p-column header="Almoxarifado Origem" field="origem">
                        <ng-template let-data="rowData" pTemplate="body">
                            {{ data.origem.descricao }}
                        </ng-template>
                    </p-column>
                    <p-column header="Almoxarifado Destino" field="destino">
                        <ng-template let-data="rowData" pTemplate="body">
                            {{ data.destino.descricao }}
                        </ng-template>
                    </p-column>
                    <p-column header="Classificacao Material" field="">
                        <ng-template let-data="rowData" pTemplate="body">
                            {{ data.informacaoTransferencia.classificacaoMaterial.descricao }}
                        </ng-template>
                    </p-column>
                    <p-column header="Gerado Por" field="geradoPor">
                        <ng-template let-data="rowData" pTemplate="body">
                            {{ data.geradoPor }}
                        </ng-template>
                    </p-column>
                    <p-column header="Gerado Em" field="geradoEm">
                        <ng-template let-data="rowData" pTemplate="body">
                            {{ data.geradoEm | date: 'dd/MM/y H:mm' }}
                        </ng-template>
                    </p-column>
                    <basis-datatable-button
                        name="efetivar"
                        icon="check"
                        tooltip="Efetivar"
                        class="p-button-info"
                        [disabled]="!datatable.selectedRow"
                    ></basis-datatable-button>
                </basis-datatable>
            </div>
        </div>
    </div>
</div>
