
<div class="p-col-12 p-grid">
    <div class="p-grid p-fluid">

        <div class="card card-w-title">

            <h1>Cadastro de Cadáver</h1>

            <div class="p-grid p-fluid">
                <div class="p-col-12 p-grid">

                    <div class="p-md-2" pTooltip="Digite o nome do cadáver" [formGroup]="cadastrarObito">
                        Nome
                        <span class="md-inputfield p-float-label" style="margin-top: 5px;">
                        <input type="text" pInputText class="p-inputtext" formControlName="nome"/>
                    </span>
                    </div>


                    <div class="p-md-2" style="margin-top: 7px;" [formGroup]="cadastrarObito">
                        Raça
                        <p-dropdown placeholder="Selecione" [options]="raca" formControlName="raca"></p-dropdown>

                    </div>


                    <div class="p-md-2" style="margin-top: 7px;" [formGroup]="cadastrarObito">
                        Grupo Sanguíneo
                        <p-dropdown placeholder="Selecione" [options]="sanguineo" formControlName="grupoSanguineo"></p-dropdown>
                    </div>


                    <div class="p-md-2" pTooltip="Digite o código do Plano" [formGroup]="cadastrarObito">
                        Convênio/Plano
                        <p-dropdown placeholder="Selecione"
                                    [options]="conveniosDeSaude" [optionLabel]="'nome'" [optionValue]="'id'"
                                    formControlName="codigoConvenioId"
                        ></p-dropdown>
                    </div>

                    <div class="p-col-12 p-grid">
                        <div class="p-md-2" pTooltip="Data de nascimento" [formGroup]="cadastrarObito">
                            Data Nascimento
                            <p-calendar
                                dateFormat="dd/mm/yy"
                                formControlName="dataNascimento"
                            ></p-calendar>
                        </div>

                        <div class="p-md-2" pTooltip="Data de remoção do cadáver" [formGroup]="cadastrarObito">
                            Data Remoção
                            <p-calendar
                                dateFormat="dd/mm/yy"
                                formControlName="dataRemocao"
                            ></p-calendar>
                        </div>
                    </div>

                    <div class="p-col-12 p-grid">
                        <div class="p-md-2 p-md-4" [formGroup]="cadastrarObito">
                            Causa Óbito
                            <span class="md-inputfield p-float-label">
                            <textarea pInputTextarea [rows]="3" [cols]="30"
                                      pTooltip="Digite a causa do Óbito."formControlName="causaObito">
                            </textarea>
                    </span>
                        </div>
                    </div>

                    <div class="p-md-2" pTooltip="Por quem foi realizado" [formGroup]="cadastrarObito">
                        Realizado por
                        <span class="md-inputfield p-float-label"
                              style="margin-top: 5px;">
                        <input type="text"
                               pInputText class="p-inputtext"
                               formControlName="realizadoPor"/>
                    </span>
                    </div>

                    <div class="p-md-2" pTooltip="Lido por" [formGroup]="cadastrarObito">
                        Lido por
                        <span class="md-inputfield p-float-label"
                              style="margin-top: 5px;">
                        <input type="text"
                               pInputText class="p-inputtext"
                               formControlName="lidoPor"/>
                    </span>
                    </div>
                    <div class="p-col-12 p-grid">

                        <div class="p-md-2" pTooltip="Procêdencia" [formGroup]="cadastrarObito">
                            Procedência
                            <p-dropdown placeholder="Selecione"
                                        [options]="hospitais" [optionLabel]="'nome'" [optionValue]="'id'"
                                        formControlName="procedenciaId"
                            ></p-dropdown>
                        </div>
                        <div class="p-md-2" pTooltip="Retirada" [formGroup]="cadastrarObito">
                            Retirada
                            <p-dropdown placeholder="Selecione"
                                        [options]="hospitais" [optionLabel]="'nome'" [optionValue]="'id'"
                                        formControlName="retiradaId"
                            ></p-dropdown>
                        </div>

                    </div>



                    <div class="p-md-2 p-md-4" [formGroup]="cadastrarObito">
                        Observações
                        <span class="md-inputfield p-float-label">
                            <textarea pInputTextarea [rows]="3" [cols]="30"
                                      pTooltip="Digite a causa do Óbito."
                                      formControlName="observacao">
                            </textarea>
                    </span>
                    </div>



                    <div class="p-col-12 p-grid p-d-flex">

                        <div class="p-md-2">
                            <button pButton
                                    type="button"
                                    label="Salvar"
                                    icon="pi pi-save"
                                    [disabled]="!validarFormulario()"
                                    (click)="cadastro()"
                            ></button>

                        </div>
                        <div class="p-md-2">
                            <button pButton
                                    type="button"
                                    label="Limpar"
                                    icon="pi pi-times"
                                    (click)="limparFormulario()"
                            ></button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
