<div class="p-grid p-fluid" [formGroup]="formGroup">
    <div class="p-col-12 p-grid" formGroupName="responsavel">
        <div nInputText label="Nome do Responsável" formControlName="nomeDoResponsavel" class="p-md-6 p-sm-12"></div>
        <div nAutoComplete [service]="grauDeParentescoService" field="valor" formControlName="grauDeParentescoId" label="Grau de Parentesco" class="p-md-6 p-sm-12"></div>
    </div>

    <app-telefone [telefones]="formGroup.get('responsavel.telefones')" class="p-md-12" ></app-telefone>

</div>
