<h1>Segurança</h1>

<div class="card">
    <div class="p-md-12">
        <h2 class="sub-title">Pesquisar Graduações do Servidor</h2>
        <div class="p-col-12 p-grid">
            <div class="p-md-6 p-lg-4">
                <span class="p-float-label">
                    <p-autoComplete field="matricula" [suggestions]="listaServidor"
                        (completeMethod)="buscaServidor($event)" [dropdown]="true"></p-autoComplete>
                    <label>Matrícula</label>
                </span>
            </div>
            <div class="p-col-12 p-md-4">
                <span class="p-float-label">
                    <input type="text" pInputText disabled />
                    <label>Vínculo</label>
                </span>
            </div>
            <div class="p-col-12 p-md-4">
                <span class="p-float-label">
                    <input type="text" pInputText disabled />
                    <label>Nome</label>
                </span>
            </div>
        </div>
    </div>
</div>