<h1>Segurança</h1>
<div class="card">
    <form [formGrup]="graduacao">
        <div class="p-md-12">
            <h2 class="sub-title">Pesquisar Graduações do Servidor</h2>
            <div class="p-col-12 p-grid">
                <div class="p-md-6 p-lg-4">
                    <span class="p-float-label">
                        <p-autoComplete field="matricula" [suggestions]="listaServidor" name="filtro"
                            (completeMethod)="buscaServidor($event)" [dropdown]="true" 
                            (onSelect)="aoSelecionarUmaMatricula($event)">
                        </p-autoComplete>
                        <label>Matrícula</label>
                    </span>
                </div>
                <div class="p-col-12 p-md-4">
                    <span class="p-float-label">
                        <input type="text" pInputText disabled name="vinculoId" formControlName="vinculo" />
                        <label>Vínculo</label>
                    </span>
                </div>
                <div class="p-col-12 p-md-4">
                    <span class="p-float-label">
                        <input type="text" pInputText disabled name="nome" formControlName="nome    " />
                        <label>Nome</label>
                    </span>
                </div>
            </div>
        </div>
        <div class="p-md-12 p-grid p-jc-end">
            <div class="button-margin">
                <button pButton type="button" label="Nova graduação" icon="ui-icon-add"
                    routerLink="/seguranca/formulario-graduacoes-de-servidores" bTooltip="Cadastrar nova graduação."></button>
            </div>
            <div class="button-margin">
                <button pButton type="button" label="Pesquisar" icon="ui-icon-search"
                    bTooltip="Pesquisar graduações do servidor." (click)="pesquisar()"></button>
            </div>
        </div>
    </form>
</div>

<div class="card">
    <basis-datatable (buttonClick)="datatableClick($event)" [url]="searchUrl" [showPaginationFooter]="true" [rowsPerPageOptions]="rowsPerPageOptions">
        <p-column header="Curso"field="curso"></p-column>
        <p-column header="Conselho" field="conselho"></p-column>
        <p-column header="Ano inicío" field="anoInicio"></p-column>
        <p-column header="Ano fim" field="anoFim"></p-column>
        <p-column header="Semestre" field="semestre"></p-column>
        <p-column header="Situação" field="situacao"></p-column>
        <p-column header="Nro Reg Conselho" field="nroRegConselho"></p-column>
        <p-column header="Instituição" field="instituicao"></p-column>        
    </basis-datatable>
</div>