<div class="p-col-12 card card-w-title">
  <h1>Pesquisar atendimento diverso</h1>
  <div id="codigo">
    <span id="grupo">
      <label> Unidade Executora: </label> <br>

      <p-dropdown [options]="teste" [(ngModel)]="selectedTeste"></p-dropdown>
    </span>
    <span id="grupo">
      <label> Codigo: </label> <br>
      <input type="text" pInputText />
    </span>
  </div>

  <p-fieldset id="atendendimento" legend="Tipo Atendimento">

    <div class="atend">
      <span id="grupo">
        <label> Laboratorio Externo: </label> <br>
      </span>
      <p-dropdown [options]="teste" [(ngModel)]="selectedTeste"></p-dropdown>
    </div>
    <div class="atend">
      <span id="grupo">
        <label> Controle de qualidade: </label> <br>
      </span>
      <p-dropdown 
      [options]="controles" [optionLabel]="'material'" [optionValue]="'codigo'"
      ></p-dropdown>
    </div>
    <div class="atend">
      <span id="grupo">
        <label> Cadavér: </label> <br>
      </span>
      <p-dropdown
        [options]="groups" [optionLabel]="'nome'" [optionValue]="'codigo'"
      ></p-dropdown>
    </div>
  </p-fieldset>

  <p-fieldset legend="Informações complementares ">
    <div id="codigo">
      <span id="grupo">
        <label> Origem Amostra: </label> <br>
        <p-dropdown [options]="OrigemAmostra" [(ngModel)]="selectedOrigem"></p-dropdown>
      </span>
      <span id="grupo">
        <label> Tipo Amostra: </label> <br>
        <p-dropdown [options]="TipoAmostra" [(ngModel)]="selectedTipo"></p-dropdown>
      </span>
      <span id="grupo">
        <label> Identificação: </label> <br>
        <input type="text" pInputText /> <br>
      </span>
      <span id="grupo">
        <label> Data Soro: </label> <br>
        <p-calendar class="calendar-input" showIcon="true" icon="pi pi-calendar"
          [readonlyInput]="true" dateFormat="dd/mm/yy"></p-calendar>
      </span>
    </div>
    <div>
      <span id="grupo"> <br>
        <label> Material: </label> <br>
        <input type="text" pInputText />
      </span>
    </div>
    <div>
      <span id="grupo"> <br>
        <label> Especialidade: </label> <br>
        <p-dropdown [options]="teste" [(ngModel)]="selectedTeste"></p-dropdown>
      </span>
    </div>
    <div>
      <span id="grupo"> <br>
        <label> Centro de Atividades: </label> <br>
        <p-dropdown [options]="teste" [(ngModel)]="selectedTeste"></p-dropdown> <br>
      </span>
    </div>


    <button pButton type="button" label="Pesquisar Fonetica" icon="ui-icon-search" bTooltip="Pesquisar Fonetica."
      (click)="pesquisar()"></button>

    <div id="codigo">
      <span id="grupo">
        <label> Prontuario: </label> <br>
        <input type="text" pInputText />
      </span>
      <span style="display: flex; flex-direction: column; width: 15%">
        <label> Codigo: </label> <br>
        <input type="text" pInputText /><br>
      </span>
    </div>
    <div id="codigo">
      <span id="grupo">
        <label> Nome Paciente Externo: </label> <br>
        <input type="text" pInputText />
      </span>
      <span id="grupo">
        <label> Data Nascimento: </label> <br>
        <p-calendar class="calendar-input" showIcon="true" icon="pi pi-calendar"
          [readonlyInput]="true" dateFormat="dd/mm/yy"></p-calendar>
      </span>
      <span id="grupo">
        <label> Sexo: </label> <br>
        <p-dropdown [options]="Sexo" [(ngModel)]="selectedSexo"></p-dropdown>
      </span>
    </div>

  </p-fieldset> <br>

  <button pButton type="button" label="Gravar" icon="ui-icon-search" bTooltip="Pesquisar atendimento-diverso."
    (click)="pesquisar()"></button>

</div>
