<form [formGroup]="cadastroAtendimentoDiverso" (ngSubmit)="cadastrar()">  
<div id="card" >
  <p-fieldset >
    <h1>Manter atendimento diverso</h1>
    <div id="codigo" >
      <span id="grupo">
        <label> Unidade Executora: </label> <br>
        <p-dropdown 
        placeholder="Selecione" 
        [options]="unidadesFuncionais" [optionLabel]="'nome'" [optionValue]="'id'"  
        formControlName="unidadeExecutoraId" 
        ></p-dropdown>
      </span>

      <span id="grupo" >
        <label > Codigo:  </label> <br>
        <input type="text" formControlName="codigo" pInputText/>
      </span>
    </div>
  
    <p-fieldset legend="Tipo Atendimento">

      <div class="atend">
        <span id="grupo">
          <label> Laboratorio Externo: </label> <br>
        </span>
        <p-dropdown 
        placeholder="Selecione"
        [options]="laboratorios" [optionLabel]="'nome'" [optionValue]="'id'"
        formControlName="laboratorioId"
        ></p-dropdown>
      </div>

      <div class="atend">
        <span id="grupo">
          <label> Controle de qualidade: </label> <br>
        </span>
        <p-dropdown 
        placeholder="Selecione"
        [options]="controles" [optionLabel]="'material'" [optionValue]="'id'"
        formControlName="controleId"
        ></p-dropdown>
      </div>

      <div class="atend">
        <span id="grupo">
          <label> Cadavér: </label> <br>
        </span>
        <p-dropdown
          placeholder="Selecione"
          [options]="cadavers" [optionLabel]="'nome'" [optionValue]="'id'"
          formControlName="cadaverId"
        ></p-dropdown>
      </div>
    </p-fieldset>

    <p-fieldset legend="Informações complementares ">
      <div id="codigo">
        <span id="grupo">
          <label> Origem Amostra: </label> <br>
          <p-dropdown 
          placeholder="Selecione" [options]="origemAmostraDropdown" formControlName="origemAmostra"
          ></p-dropdown>
        </span>
        <span id="grupo">
          <label> Tipo
             Amostra: </label> <br>
          <p-dropdown
           placeholder="Selecione" [options]="tipoAmostraDropdown" formControlName="tipoAmostra"
           ></p-dropdown>
        </span>

        <span id="grupo">
          <label> Identificação:  </label> <br>
          <input type="text"  formControlName="identificacao" pInputText /> <br>
        </span>

        <span id="grupo">
          <label> Data Soro: </label> <br>
          <p-calendar class="calendar-input" showIcon="true" icon="pi pi-calendar"
            [readonlyInput]="true" dateFormat="dd/mm/yy"   formControlName="dataSoro"></p-calendar >
        </span>
      </div>
      <div>
        <span id="grupo"> <br>
          <label> Material: </label> <br>
          <input type="text" pInputText formControlName="material" />
        </span>
      </div>

      <div>
        <span id="grupo"> <br>
          <label> Especialidade: </label> <br>
          <p-dropdown 
          placeholder="Selecione"
          [options]="especialidades" [optionLabel]="'especialidade'" [optionValue]="'id'"
          formControlName="especialidadeId"
          ></p-dropdown>
        </span>
      </div>

      <div>
        <span id="grupo"> <br>
          <label> Centro de Atividades: </label> <br>
          <p-dropdown 
          placeholder="Selecione"
          [options]="centros" [optionLabel]="'descricao'" [optionValue]="'id'"
          formControlName="centroAtividadeId"
          ></p-dropdown> <br>
        </span>
      </div>

      <div id="codigo">
        <span id="grupo">
          <label> Nome Paciente Externo: </label> <br>
          <p-dropdown 
          placeholder="Selecione"
          [options]="cadastros" [optionLabel]="'nome'" [optionValue]="'id'"
          ></p-dropdown>
        </span>

        <span id="grupo">
          <label> Data Nascimento: </label > <br>
          <p-calendar class="calendar-input" showIcon="true" icon="pi pi-calendar"
            [readonlyInput]="true" dateFormat="dd/mm/yy"  formControlName="dataNascimento"></p-calendar>
            
        </span>
        <span id="grupo">
          <label> Sexo: </label> <br>
          <p-dropdown 
          placeholder="Selecione" [options]="sexoDropdown" formControlName="sexo"
          ></p-dropdown>
        </span>
      </div>
    
    </p-fieldset> <br>
    <button pButton type="submit" [disabled]="!valid()" label="Gravar" icon="ui-icon-search" bTooltip="Gravar atendimento-diverso." 
      ></button>
    </p-fieldset>
 </div>
</form>