<div class="layout-wrapper" [ngClass]="{'p-input-filled': config.inputStyle === 'filled', 'p-ripple-disabled': !config.ripple,
        'layout-menu-static': menuService.isStatic(),
        'layout-menu-overlay': menuService.isOverlay(),
        'layout-menu-horizontal': menuService.isHorizontal(),
        'layout-menu-slim': menuService.isSlim(),
        'layout-menu-active': menuActive,
        'layout-menu-mobile-active': mobileMenuActive,
        'layout-topbar-mobile-active': mobileTopbarActive,
        'layout-rtl': config.isRTL}" [class]="'layout-menu-' + config.menuTheme + ' layout-topbar-' + config.topbarTheme">

       
    <app-topbar>
    </app-topbar>


    <div class="menu-wrapper" (click)="onMenuClick($event)">
        <div class="layout-menu-container">
            <app-menu></app-menu>
        </div>
    </div>

    <div class="layout-main">
        
        <div class="layout-content">
            <!-- <breadcrumb></breadcrumb> -->
            <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
    </div>

    <basis-page-notification></basis-page-notification>
    <div class="layout-mask"></div>
</div>