
<div class="layout-topbar">
    <div class="layout-topbar-back">
        <hr class="line-header">
    </div>

    <div class="layout-topbar-left">  <!--p-shadow-4 -->
        <div class="layout-topbar-left-items">
            <div class="layout-topbar-actions-left">
                <a class="layout-menu-button" (click)="app.onMenuButtonClick($event)" pRipple>
                    <i class="fa fa-bars"  aria-hidden="true" ></i>
                </a>
            </div>  
            <div class="logo" routerLink="/">
                <img src="../assets/layout/images/logo.png" style="margin-top: 8px;">
            </div>
        </div>          
    </div> 

    <div class="layout-topbar-right" [ngClass]="{'layout-topbar-mobile-active': app.mobileTopbarActive}">
        <div class="layout-topbar-actions-left"></div>
        <div class="layout-topbar-actions-right">
            <ul class="layout-topbar-items">
                <li class="layout-topbar-item">
                    <a class="layout-topbar-action p-d-flex p-dir-row p-jc-center p-ai-center p-px-2 rounded-circle">
                        <img src="../assets/layout/images/notif.png">
                    </a>
                </li>
                <li class="layout-topbar-item">
                    <a class="layout-topbar-action p-d-flex p-dir-row p-jc-center p-ai-center p-px-2 rounded-circle">
                        <img src="../assets/layout/images/usuario.png">
                    </a>
                </li>
                <li class="layout-topbar-item">
                    <a class="layout-topbar-action p-d-flex p-dir-row p-jc-center p-ai-center p-px-2 rounded-circle"
                        (click)="app.onTopbarItemClick($event, 'profile')" pRipple>
                        <img src="../assets/layout/images/config.png">                
                    </a>
                    <ul class="layout-topbar-action-panel p-shadow-6" [@topbarActionPanelAnimation]="'visible'"
                        *ngIf="app.activeTopbarItem === 'profile'">
                        <li class="layout-topbar-action-item">
                            <a routerLink="/diario-erros" class="p-d-flex p-flex-row p-ai-center" pRipple>
                                <i class="pi pi-cog"
                                    [ngClass]="{'p-mr-2': !app.config.isRTL, 'p-ml-2': app.config.isRTL}"></i>
                                <span>&nbsp; Diário de Erros</span>
                            </a>
                        </li>
                        <li>
                            
                        </li>
                    </ul>
                </li>
                <li class="layout-topbar-item">
                    <a class="layout-topbar-action p-d-flex p-dir-row p-jc-center p-ai-center p-px-2 rounded-circle"
                        [ngClass]="{'p-mr-2': !app.config.isRTL, 'p-ml-2': app.config.isRTL}">
                        <img src="../assets/layout/images/sair.png">
                    </a>
                </li>
            </ul>
        </div>
    </div> 
</div>