<div class="ui-g ui-fluid">
    <form [formGroup]="formEmergencia" (ngSubmit)="(cadastrarConsultas)">
        <div class="ui-g-12">
            <h1>Marcar Consultas - Emergência</h1>

            <div class="ui-g-2 ui-sm-12">
                <span class="ui-float-label">
                    <input type="text" pInputText formControlName="numeroConsulta" />
                    <label>Nº da Consulta</label>
                </span>
            </div>

            <div class="ui-g-2 ui-sm-12">
                <span class="ui-float-label">
                    <p-calendar
                        [locale]="localizacao"
                        [yearRange]="anosDisponiveis"
                        [dateFormat]="formatoDeData"
                        monthNavigator="true"
                        yearNavigator="true"
                        formControlName="dataHoraDaConsulta"
                        showTime="true"
                    ></p-calendar>
                    <label>Data da Consulta</label>
                </span>
            </div>
            <div class="ui-g-2 ui-sm-12">
                <span class="ui-float-label">
                    <input type="text" pInputText formControlName="grade" />
                    <label>Grade</label>
                </span>
            </div>

            <div class="ui-g-12"></div>
            <div class="ui-g-2 ui-sm-12">
                <span class="md-inputfield">
                    <input pInputText disabled="true" formControlName="prontuario" />
                    <label>Prontuário</label>
                </span>
            </div>

            <div class="ui-g-5 ui-sm-12">
                <span class="ui-float-label">
                    <p-autoComplete
                        field="nome"
                        [suggestions]="pacientes"
                        pInputText
                        formControlName="nome"
                        (completeMethod)="listarPacientes()"
                        (onSelect)="aoSelecionarPaciente($event)"
                        [dropdown]="true"
                    ></p-autoComplete>
                    <label>Nome</label>
                </span>
            </div>

            <div class="ui-g-12"></div>
            <div class="ui-g-3 ui-sm-12">
                <span class="md-inputfield">
                    <p-dropdown
                        optionLabel="especialidade"
                        [options]="especialidades"
                        pInputText
                        formControlName="especialidade"
                        [filter]="true"
                        placeholder="Selecione"
                    >
                    </p-dropdown>
                    <label>Especialidade</label>
                </span>
            </div>
            <div class="ui-g-12"></div>
            <div class="ui-g-3 ui-sm-12">
                <span class="md-inputfield">
                    <p-dropdown
                        optionLabel="nome"
                        [options]="crm"
                        pInputText
                        formControlName="profissional"
                        [filter]="true"
                        placeholder="Selecione"
                    ></p-dropdown>
                    <label>Profissional</label>
                </span>
            </div>

            <div class="ui-g-12"></div>
            <div class="ui-g-2 ui-sm-12">
                <span class="ui-float-label">
                    <input type="text" pInputText formControlName="convenio" />
                    <label>Convênio</label>
                </span>
            </div>
            <div class="ui-g-2 ui-sm-12">
                <span class="ui-float-label">
                    <input type="text" pInputText formControlName="clinicaCentralId" />
                    <label>Cód. Central</label>
                </span>
            </div>

            <div class="ui-g-12"></div>
            <div class="ui-g-4 ui-sm-12">
                <span class="ui-float-label">
                    <input
                        type="text"
                        pInputText
                        pTooltip="Escreva uma observação para consulta."
                        formControlName="observacao"
                    />
                    <label>Observação</label>
                </span>
            </div>
            <div class="ui-g-4 ui-sm-12">
                <span class="ui-float-label">
                    <input
                        type="text"
                        pInputText
                        pTooltip="Escreva um justificativa para consulta."
                        formControlName="justificativa"
                    />
                    <label>Justificativa</label>
                </span>
            </div>

            <div class="ui-g-12 ui-sm-12">
                <div class="ui-float-label">
                    <div class="ui-g-3">
                        <button
                            pButton
                            type="button"
                            label="Cancelar"
                            pTooltip="Cancelar marcação de consulta."
                        ></button>
                    </div>
                    <div class="ui-g-3">
                        <button
                            pButton
                            type="submit"
                            label="Salvar"
                            pTooltip="Salvar marcação de consulta."
                        ></button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
