<div class="p-grid p-fluid">
    <div class="p-col-12 p-grid">
        <div class="card card-w-title">
            <h1>Solicitações de Internação</h1>
            <div class="p-grid">
                <div class="p-md-12 p-fluid">
                    <span class="md-inputfield p-float-label" style="margin-top: 5px">
                        <input
                            type="text"
                            pInputText
                            class="p-inputtext"
                            [(ngModel)]="filtroNomeDoPaciente"
                        />
                        <label>Nome do Paciente</label>
                    </span>
                </div>
                <div class="p-col-12 p-grid p-d-flex p-jc-center">
                    <div class="p-md-4">
                        <button
                            pButton
                            type="button"
                            label="Pesquisar"
                            icon="pi pi-search"
                            (click)="datatable.refresh(filtroNomeDoPaciente)"
                            bTooltip="Pesquisar paciente por nome."
                        ></button>
                    </div>
                </div>
                <basis-datatable
                    type="server"
                    [url]="api"
                    [disableView]="true"
                    [disableEdit]="true"
                    [disableDelete]="true"
                    (buttonClick)="onButtonClick($event)"
                    #datatable
                >
                    <p-column header="Identificador" field="pacienteId"></p-column>
                    <p-column header="Nome do Paciente" field="nomeDoPaciente"></p-column>
                    <p-column header="Prioridade" field="prioridade">
                        <ng-template let-col let-data="rowData" pTemplate="body">
                            {{ data['prioridade'] | prioridade }}
                        </ng-template>
                    </p-column>
                    <basis-datatable-button
                        icon="pi pi-plus"
                        name="create"
                        [disabled]="datatable.selectedRow ? false : true"
                        class="p-button-info"
                    >
                    </basis-datatable-button>
                </basis-datatable>
            </div>
        </div>
    </div>
</div>
