<p-tabView class="tableContent">
    <p-tabPanel header="Situação">
      <span class="data-field-3">
        <p-checkbox
          class="urgent-checkbox"
          [(ngModel)]="urgentCheck"
          label="Urgente"
          [binary]="true"
        ></p-checkbox>

        <span class="calendar-div">
          Data/Hora programada:
          <p-calendar
            class="calendar-input"
            [(ngModel)]="date"
            showIcon="true"
            icon="pi pi-calendar"
            [readonlyInput]="true"
            showTime="true"
            dateFormat="dd/mm/yy"
          ></p-calendar>
        </span>

        <div class="dropdown-div">
          Situação:
          <p-dropdown
            [options]="situationDropdown"
            [(ngModel)]="selectedSituation"
          ></p-dropdown>
        </div>
      </span>
    </p-tabPanel>
  </p-tabView>