<div class="ui-g ui-fluid">
    <div class="ui-g-12">
        <div class="ui-g-12">
            <h1>Prescrição Médica</h1>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-2 ui-sm-12">
                <span class="ui-float-label">
                    <input
                        pInputText
                        type="text"
                        pTooltip="Informe o Prontuario."
                        [(ngModel)]="Prontuario"
                    />
                    <label>Prontuário</label>
                </span>
            </div>
            <div class="ui-g-2 ui-sm-12">
                <span class="ui-float-label">
                    <input pInputText type="text" pTooltip="Informe o Nome." [(ngModel)]="nome" />
                    <label>Nome</label>
                </span>
            </div>

            <div class="ui-g-2 ui-sm-12">
                <span class="ui-float-label">
                    <p-calendar dateFormat="yy-mm-dd" [(ngModel)]="data"></p-calendar>
                    <label>Data da Prescrição</label>
                </span>
            </div>
            <div class="ui-g-2 ui-sm-12">
                <span class="ui-float-label">
                    <input pInputText type="text" pTooltip="Informe o Local." [(ngModel)]="local" />
                    <label>Local</label>
                </span>
            </div>
            <!-- <div class="ui-g-2 ui-sm-12">
                <span class="ui-float-label">
                    <p-autoComplete
                        pTooltip="Informe a Farmacia."
                        [(ngModel)]="texts"
                        [suggestions]="results"
                        (completeMethod)="search($event)"
                        [dropdown]="true"
                    ></p-autoComplete>
                    <label>Farmácia</label>
                </span>
            </div> -->
        </div>
        <div class="ui-g-12">
            <div class="ui-g-2 ui-sm-12">
                <button
                    pButton
                    type="button"
                    label="Pesquisar"
                    icon="ui-icon-search"
                    (click)="listar()"
                ></button>
            </div>
            <div class="ui-g-2 ui-sm-12">
                <button pButton type="button" label="Limpar"></button>
            </div>
            <div class="ui-g-2 ui-sm-12">
                <button pButton type="button" label="Exportar"></button>
            </div>
        </div>
        <basis-datatable type="memory" [value]="Prescricao" sortField="brand">
            <p-column header="Prontuário" field="id"></p-column>
            <p-column header="Paciente" field="nome" [sortable]="true"></p-column>
            <p-column header="Localização" field="local"></p-column>
            <p-column header="Início Prescrição" field="dataInicio"></p-column>
            <p-column header="Fim Prescrição" field="dataFim"></p-column>
        </basis-datatable>
    </div>
</div>
