<div class="ui-g ui-fluid">
    <div class="ui-g-12">
        <div class="ui-g-12">
            <h1>Prescrição Médica</h1>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-2 ui-sm-12">
                <span class="ui-float-label">
                    <input pInputText type="text" pTooltip="Informe o Nome." [(ngModel)]="nome" />
                    <label>Nome</label>
                </span>
            </div>

            <div class="ui-g-2 ui-sm-12">
                <span class="ui-float-label">
                    <p-calendar dateFormat="yy-mm-dd" [(ngModel)]="data"></p-calendar>
                    <label>Data da Prescrição</label>
                </span>
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-2 ui-sm-12">
                <button
                    pButton
                    type="button"
                    label="Pesquisar"
                    icon="ui-icon-search"
                    (click)="listar()"
                ></button>
            </div>
            <div class="ui-g-2 ui-sm-12">
                <button pButton type="button" label="Limpar"></button>
            </div>
            <div class="ui-g-2 ui-sm-12">
                <button pButton type="button" label="Exportar"></button>
            </div>
        </div>
        <basis-datatable
            #datatable
            type="memory"
            [value]="Prescricao"
            sortField="brand"
            [disableView]="true"
            [disableEdit]="true"
            [disableDelete]="true"
            (buttonClick)="dispensarMedicamento($event)"
        >
            <p-column header="Paciente" field="nome" [sortable]="true"></p-column>

            <p-column header="Início Prescrição" field="dataInicio"></p-column>

            <basis-datatable-button
                bTooltip="Dispensar Medicamento"
                [disabled]="datatable.selectedRow ? false : true"
            >
            </basis-datatable-button>
        </basis-datatable>
    </div>
</div>
