<div class="ui-g ui-fluid">
    <div class="ui-g-12">
        <div class="ui-g-12">
            <h1>Prescrição Médica</h1>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-2 ui-sm-12">
                <span class="ui-float-label">
                    <input pInputText type="text" pTooltip="Informe o Nome." [(ngModel)]="nome" />
                    <label>Nome</label>
                </span>
            </div>

            <div class="ui-g-2 ui-sm-12">
                <span class="ui-float-label">
                    <p-calendar dateFormat="yy-mm-dd" [(ngModel)]="data"></p-calendar>
                    <label>Data da Prescrição</label>
                </span>
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-2 ui-sm-12">
                <button
                    pButton
                    type="button"
                    label="Pesquisar"
                    icon="ui-icon-search"
                    (click)="listar()"
                ></button>
            </div>
            <div class="ui-g-2 ui-sm-12">
                <button 
                    pButton type="button"
                    label="Limpar"
                    (click)="limparPesquisa()">
                </button>
            </div>
            <div class="ui-g-2 ui-sm-12">
                <button pButton type="button" label="Exportar"></button>
            </div>
        </div>
        <basis-datatable type="memory" 
                [value]="Prescricao" 
                sortField="brand"
                [disableView]="true"
                [disableEdit]="true"
                [disableDelete]="true"
                (buttonClick)="btnClick($event)"
                #datatable>

            <p-column header="Paciente" field="nome" [sortable]="true"></p-column>
            <p-column header="Início Prescrição" field="dataInicio"></p-column>
        
            <basis-datatable-button
                ng-reflect-icon="ui-icon-remove-red-eye"
                ng-reflect-b-tooltip="Escolha um registro para visualizar"
                class="ng-star-inserted"
                [disabled]="datatable.selectedRow == null"
                name="view"
                icon="remove-red-eye">
            </basis-datatable-button>
        
            <basis-datatable-button
                class="ui-button-danger"
                [disabled]="datatable.selectedRow == null"
                (buttonClick)="btnClick($event)"
                name="delete"
                icon="delete">
            </basis-datatable-button>        
        </basis-datatable>
    
    <p-confirmDialog #dialog header="Confirmação" icon="pi pi-exclamation-triangle">
        <p-footer>
            <button type="button" pButton icon="pi pi-times" label="Não" (click)="dialog.reject()"></button>
            <button type="button" pButton icon="pi pi-check" label="Sim" (click)="dialog.accept()"></button>
        </p-footer>
    </p-confirmDialog>
    </div>
</div>
