<div class="card">
    <h1>Lista de PAcientes Internados</h1>
    <div class="p-col-12 p-grid">
       <basis-datatable>
            <p-column header="Data Alta" field="null"></p-column>
            <p-column header="Data Inter" field="null"></p-column>
            <p-column header="Leito" field="null"></p-column>
            <p-column header="Quarto" field="null"></p-column>
            <p-column header="Unid Funcio" field="null"></p-column>
            <p-column header="Especialidade" field="null"></p-column>
            <p-column header="Conv/Plano" field="null"></p-column>
            <p-column header="Professor" field="null"></p-column>

            <basis-datatable-button
                name="acao" bTooltip="acao"
                icon="pi pi-pencil" class="p-button-info">
            </basis-datatable-button>


       </basis-datatable>
    </div>
</div>
