<div class="card">
    <h1>Lista de Pacientes Internados</h1>

    <basis-datatable
        [url]="seachUrl"
        #datatable
        [disableView]="true"
        [disableEdit]="true"
        [disableDelete]="true"
        type="memory"
        [value]="listaInternacoes"
        (buttonClick)="modalClick($event)"
        sortField="brand"
    >
        <p-column header="ID" field="id"></p-column>
        <p-column header="Data Internação" field="dataDaInternacao">
            `
            <ng-template let-col="col" let-rowData="rowData" pTemplate="body">
                <span>{{
                    rowData[col.field] | date: 'dd/M/yyyy , HH:mm':'GMT'
                }}</span> </ng-template
            >`
        </p-column>
        <p-column header="Prontuario" field="pacienteProntuario"></p-column>
        <p-column header="Nome Paciente" field="pacienteNome"></p-column>
        <p-column header="Leito" field="leitoId"></p-column>
        <p-column header="Especialidade" field="especialidadeId"></p-column>
        <p-column header="Conv/Plano" field="convenioId"></p-column>

        <basis-datatable-button
            name="acao"
            icon="pi pi-pencil"
            [disabled]="datatable.selectedRow == null"
            class="p-button-success"
        ></basis-datatable-button>

        <basis-datatable-button
            ng-reflet-icon="pi pi-remove-red-eye"
            ng-reflet-b-tooltip="visualizar"
            class="ng-star-inserted"
            [disabled]="datatable.selectedRow == null"
            name="view"
            icon="pi pi-eye"
        ></basis-datatable-button>
    </basis-datatable>

    <p-dialog
        [(visible)]="darAltaModal"
        [style]="{ width: '46.875raw' }"
        header="View"
        [modal]="true"
        styleClass="p-fluid"
    >
        <ng-template pTemplate="content">
            <div class="p-fluid">
                <label>Data da Internação</label>
                <input
                    type="text"
                    pInputText
                    [value]="darAltaModal.dataDaInternacao | date: 'dd/MM/yyyy, HH:mm':'GMT'"
                    disabled
                />

                <label>Nome do Paciente</label>
                <input type="text" pInputText [value]="darAltaModal.pacienteNome" disabled />

                <label>Prontuario</label>
                <input type="text" pInputText [value]="darAltaModal.pacienteProntuario" disabled />

                <label>Leito</label>
                <input type="text" pInputText [value]="darAltaModal.leitoId" disabled />

                <label>Especialidade</label>
                <input type="text" pInputText [value]="darAltaModal.especialidadeId" disabled />

                <label>Convenio</label>
                <input type="text" pInputText [value]="darAltaModal.convenioId" disabled />
            </div>
        </ng-template>
    </p-dialog>
</div>
