<div class="ui-g ui-fluid">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <h1>{{ acao.id ? 'Editar Acao' : 'Cadastrar Acao' }}</h1>
      <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
        <div class="ui-g form-group">
          <input type="hidden" name="id" pInputText [(ngModel)]="acao.id" readonly/>
          <div class="ui-g-12 ui-md-6">
            <span class="md-inputfield">
              <input type="text" name="nm_acao" [(ngModel)]="acao.nm_acao" pInputText/>
              <label>Nm Acao</label>
            </span>
          </div>
          <div class="ui-g-12 ui-md-6">
            <span class="md-inputfield">
              <input type="text" name="cd_acao" [(ngModel)]="acao.cd_acao" pInputText/>
              <label>Cd Acao</label>
            </span>
          </div>
        </div>
        <div class="ui-g">
          <div class="ui-g-12 ui-md-2">
            <button pButton type="button" label="Cancelar" routerLink="/acao"></button>
          </div>
          <div class="ui-g-12 ui-md-2">
            <button pButton type="submit" label="Salvar" [disabled]="editForm.form.invalid || isSaving" ></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>