<div class="p-grid p-fluid">
    <form [formGroup]="detalharConsultas">
        <div class="p-col-12 p-grid">
            <h1>Detalhamento de Consultas</h1>

            <div class="p-md-2 p-sm-12">
                <span class="p-float-label">
                    <input field="prontuario" pInputText formControlName="prontuario" readonly />
                    <label>Prontuário</label>
                </span>
            </div>
            <div class="p-md-4 p-sm-12">
                <span class="p-float-label">
                    <input field="nome" pInputText formControlName="nome" readonly />
                    <label>Nome</label>
                </span>
            </div>
            <div class="p-col-12 p-grid"></div>
            <div class="p-md-3 p-sm-12">
                <span class="p-float-label">
                    <input pInputText formControlName="especialidade" readonly />
                    <label>Especialidade</label>
                </span>
            </div>
            <div class="p-md-3 p-sm-12">
                <span class="p-float-label">
                    <input pInputText formControlName="profissional" readonly />
                    <label>profissional</label>
                </span>
            </div>
            <div class="p-col-12 p-grid"></div>
            <div class="p-md-3 p-sm-12">
                <span class="p-float-label">
                    <input pInputText formControlName="dataHoraDaConsulta" readonly />
                    <label>Data/Hora da Consulta</label>
                </span>
            </div>
            <div class="p-md-2 p-sm-12">
                <span class="p-float-label">
                    <input pInputText formControlName="grade" readonly />
                    <label>Grade</label>
                </span>
            </div>
            <div class="p-md-2 p-sm-12">
                <span class="p-float-label">
                    <input pInputText formControlName="numeroSala" readonly />
                    <label>Número da Sala</label>
                </span>
            </div>
            <div class="p-col-12 p-grid"></div>
            <div class="p-md-3 p-sm-12">
                <span class="p-float-label">
                    <input pInputText formControlName="turno" readonly />
                    <label>Turno</label>
                </span>
            </div>
            <div class="p-md-4 p-sm-12">
                <span class="p-float-label">
                    <input pInputText formControlName="tipoPagador" readonly />
                    <label>Tipo Pagador</label>
                </span>
            </div>
            <div class="p-md-2 p-sm-12">
                <span class="p-float-label">
                    <input pInputText formControlName="clinicaCentralId" readonly />
                    <label>Clinica Central</label>
                </span>
            </div>
            <div class="p-col-12 p-grid"></div>
            <div class="p-md-8 p-sm-12">
                <span class="md-inputfield p-float-label" style="margin-top: 5px;">
                    <textarea
                        [rows]="3"
                        [cols]="30"
                        pInputTextarea
                        autoResize="autoResize"
                        formControlName="justificativa"
                        readonly
                    ></textarea>
                    <label>Justificativa</label>
                </span>
            </div>
            <div class="p-col-12 p-grid"></div>
            <div class="p-md-8 p-sm-12">
                <span class="md-inputfield p-float-label" style="margin-top: 5px;">
                    <textarea
                        [rows]="3"
                        [cols]="30"
                        pInputTextarea
                        autoResize="autoResize"
                        formControlName="observacoes"
                        oninvalid="alert('You must fill out the form!');"
                        readonly
                    ></textarea>
                    <label>Observações</label>
                </span>
            </div>
        </div>
    </form>
</div>
