<div class="card">
    <h1>Pesquisar Grades de Exames</h1>
    <div class="p-grid p-fluid">
        <div class="p-col-12 p-grid">
            <div class="p-col-12 p-grid">
            </div>
            <div class="p-col-12 p-grid">
                <div class="p-md-2 p-sm-12">
                    <span class="p-float-label">
                        <input
                        pInputText
                        type="text"
                        pTooltip="Informe o número da grade"
                        [(ngModel)]="id"
                        />
                        <label>Grade</label>
                    </span>
                </div>
                <div class="p-md-2 p-sm-12">
                    <p-dropdown
                        pTooltip="Informe a Unidade Executora"
                        [(ngModel)]="unidadeExecutoraId" [filter]="true"
                        [resetFilterOnHide]="true" [options]="unidadesExecutoras" [optionLabel]="'nome'"
                        [optionValue]="'id'" placeholder="Unidade executora"
                    ></p-dropdown>
                </div>
                <div class="p-md-2 p-sm-12">
                    <p-dropdown
                        pTooltip="Informe a situação"
                        [(ngModel)]="ativo"
                        [options]="situacaoGrade"
                        placeholder="Situação da grade"
                    ></p-dropdown>
                </div>
                <div class="p-md-2 p-sm-12">
                    <p-dropdown
                        pTooltip="Informe o código ou número da sala"
                        [(ngModel)]="salaId" [filter]="true" [resetFilterOnHide]="true"
                        [options]="salas" [optionLabel]="'identificacaoDaSala'" [optionValue]="'id'"
                        placeholder="Identificação da sala"
                    ></p-dropdown>
                </div>
            </div>
            <div class="p-col-12 p-grid">
                <div class="p-md-2 p-sm-12">
                    <p-dropdown
                        pTooltip="Informe o código ou descrição do grupo de exames"
                        [(ngModel)]="grupoAgendamentoExameId" [filter]="true" [resetFilterOnHide]="true"
                        [options]="gruposDeExame" [optionLabel]="'nome'" [optionValue]="'id'"
                        placeholder="Grupo de exames"
                    ></p-dropdown>
                </div>
                <div class="p-md-2 p-sm-12">
                    <p-dropdown
                        pTooltip="Informe o código ou descrição do exame"
                        [(ngModel)]="exameId" [filter]="true" [resetFilterOnHide]="true"
                        [options]="exames" [optionLabel]="'nome'" [optionValue]="'id'"
                        placeholder="Exame"
                    ></p-dropdown>
                </div>
                <div class="p-md-2 p-sm-12">
                    <p-dropdown
                        pTooltip="Informe a matrícula ou o nome do responsável"
                        [(ngModel)]="responsavelId" [filter]="true" [resetFilterOnHide]="true"
                        [options]="servidores" [optionLabel]="'pessoaNome'" [optionValue]="'id'"
                        placeholder="Responsável"
                    ></p-dropdown>
                </div>
            </div>


            <div class="p-col-12 p-grid">
                <div class="p-md-2 p-sm-12">
                    <button
                        pButton
                        type="button"
                        label="Pesquisar"
                        icon="pi pi-search"
                        (click)="listarGrades()"
                    ></button>
                </div>
                <div class="p-md-2 p-sm-12">
                    <button
                        pButton
                        type="button"
                        routerLink="/manter-grade-agendamento"
                        label="Nova grade"Primeiro Exame
                    ></button>
                </div>
                    <basis-datatable [url]="searchUrl" #datatable [disableView]="true"
                    [disableEdit]="true" [disableDelete]="true" type="memory" [value]="gradeAgendamento" sortField="brand">
                        <p-column header="Grade" field="id"></p-column>
                        <p-column header="Unid. Executora" field="unidadeExecutoraNome"></p-column>
                        <p-column header="Sala" field="salaGradeIdentificacaoDaSala"></p-column>
                        <p-column header="Grupo" field="grupoGradeNome"> </p-column>
                        <p-column header="Exame" field="exameGradeNome"> </p-column>
                        <p-column header="Responsável" field="responsavelNome"> </p-column>
                        <p-column header="Situação" field="ativo">
                            <ng-template let-col="col" let-rowData="rowData" pTemplate="body">
                            <span> {{ rowData[col.field] === true ? 'Ativo' : 'Inativo' }} </span>
                            </ng-template>
                        </p-column>

                        <basis-datatable-button
                            name="editar" bTooltip="Editar"
                            icon="pi pi-pencil" class="p-button-info"
                            [disabled]="datatable.selectedRow == null">
                        </basis-datatable-button>

                        <basis-datatable-button
                            name="agendar" bTooltip="Manter horários de agenda de exames"
                            icon="pi pi-clock" class="p-button-info"
                            [disabled]="datatable.selectedRow == null"
                            >
                        </basis-datatable-button>

                        <basis-datatable-button
                        name="disponibilizar" bTooltip="Gerar disponibilizade"
                        icon="pi pi-calendar-plus" class="p-button-info"
                        [disabled]="datatable.selectedRow == null"
                        >
                    </basis-datatable-button>

                    <basis-datatable-button
                        name="excluir" bTooltip="Excluir"
                        icon="pi pi-trash" class="p-button-info"
                        [disabled]="datatable.selectedRow == null"
                        >
                    </basis-datatable-button>

                    </basis-datatable>

            </div>
        </div>
    </div>
</div>
