<div class="ui-g ui-fluid">
    <div class="ui-g-12">
        <div class="preCad">
            <h1>Incluir Pré-Cadastro de Pacientes</h1>
            <div class="ui-g">
                <div class="ui-g-6 ui-md-06 ui-fluid">
                    <span class="md-inputfield">
                        <input
                            type="text"
                            pInputText
                            name="nomeDoPaciente"
                            pTooltip="Infome o nome do Paciente."
                        />
                        <label>Nome paciente</label>
                    </span>
                </div>
                <div class="ui-g-6 ui-md-06 ui-fluid">
                    <span class="md-inputfield">
                        <input
                            type="text"
                            pInputText
                            name="nomeSocial"
                            pTooltip="Infome o nome social do Paciente."
                        />
                        <label>Nome Social</label>
                    </span>
                </div>
                <div class="ui-g-12"></div>
                <div class="ui-g-6 ui-md-06 ui-fluid">
                    <span class="md-inputfield">
                        <input
                            type="text"
                            pInputText
                            name="nomeDaMae"
                            pTooltip="Infome o nome de mãe do Paciente."
                        />
                        <label>Nome da Mãe</label>
                    </span>
                </div>

                <div class="ui-g-6 ui-md-06 ui-fluid">
                    <span class="md-inputfield">
                        <input
                            type="text"
                            pInputText
                            name="dataDeNascimento"
                            pTooltip="Infome a data de nascimento do Paciente."
                        />
                        <label>Data de Nascimento</label>
                    </span>
                </div>

                <div class="ui-g-12"></div>
                <div class="ui-g-6 ui-md-06 ui-fluid">
                    <span class="md-inputfield">
                        <input
                            type="text"
                            pInputText
                            name="numeroSus"
                            mask="999999999999999"
                            placeholder="___ ____ ____ ____"
                            pTooltip="Informe o CNS do paciente."
                        />
                        <label>Nº do Cartão SUS</label>
                    </span>
                </div>
                <div class="ui-g-12 ui-sm-12 ui-float-label">
                    <div class="ui-g-3">
                        <h3>Ativo</h3>
                    </div>
                    <div class="ui-g-12"></div>
                    <div class="ui-g-3">
                        <p-radioButton [(ngModel)]="selectedStatus" label="Sim"></p-radioButton>
                        <p-radioButton [(ngModel)]="selectedStatus" label="Não"></p-radioButton>
                    </div>
                </div>

                <div class="ui-g-12 ui-sm-12 ui-float-label">
                    <div class="ui-g-3"></div>
                    <div class="ui-g-3">
                        <button
                            pButton
                            type="button"
                            label="Cancelar"
                            name="status"
                            formContolName="status"
                            pTooltip="Cancelar registro de Pré-Cadastro."
                        ></button>
                    </div>

                    <div class="ui-g-3">
                        <button
                            pButton
                            type="submit"
                            label="Salvar"
                            name="status"
                            formContolName="status"
                            pTooltip="Salvar registro de Pré-Cadastro."
                        ></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
