<form
    class="ui-g p-fluid ui-float-label"
    #form
    [formGroup]="preCadastro"
    (ngSubmit)="preCadastrar(form)"
>
    <div class="p-g-12 p-md-12">
        <div class="preCad ui-sm-12">
            <h1>Incluir Pré-Cadastro de Pacientes</h1>

            <div class="ui-g-8 ui-md-08 p-fluid">
                <span class="ui-float-label">
                    <input
                        type="text"
                        pInputText
                        formControlName="nome"
                        pTooltip="Infome o nome do Paciente."
                    />
                    <p-message
                        severity="error"
                        text="Nome do paciente Obrigatório"
                        *ngIf="
                            preCadastro.controls['nome'].errors?.required &&
                            preCadastro.controls['nome'].touched
                        "
                    ></p-message>
                    <label>Nome paciente</label>
                </span>
            </div>
            <div class="ui-g-4">
                <span class="ui-float-label">
                    <input
                        type="text"
                        pInputText
                        formControlName="nomeSocial"
                        pTooltip="Infome o nome social do Paciente."
                    />
                    <label>Nome Social</label>
                </span>
            </div>
            <div class="p-g-12"></div>
            <div class="ui-g-8">
                <span class="ui-float-label">
                    <input
                        type="text"
                        pInputText
                        formControlName="nomeDaMae"
                        pTooltip="Infome o nome de mãe do Paciente."
                    />
                    <p-message
                        severity="error"
                        text="Nome da mãe Obrigatório"
                        *ngIf="
                            preCadastro.controls['nomeDaMae'].errors?.required &&
                            preCadastro.controls['nomeDaMae'].touched
                        "
                    ></p-message>
                    <label>Nome da Mãe</label>
                </span>
            </div>

            <div class="ui-g-4">
                <span class="ui-float-label">
                    <p-calendar
                        formControlName="dataDeNascimento"
                        [locale]="localizacao"
                        [yearRange]="yearRange"
                        dateFormat="dd/mm/yy"
                        [maxDate]="maxDate"
                        monthNavigator="true"
                        yearNavigator="true"
                    >
                    </p-calendar>
                    <label>Data de Nascimento</label>
                </span>
            </div>

            <div class="p-g-12"></div>
            <div class="ui-g-4">
                <span class="ui-float-label">
                    <p-inputMask
                        formControlName="cartaoSus"
                        pInputText
                        mask="999999999999999"
                        placeholder="___ ____ ____ ____"
                        pTooltip="Informe o CNS do paciente."
                    ></p-inputMask>
                    <p-message
                        severity="error"
                        text="Cartão inválido"
                        *ngIf="
                            preCadastro.controls['cartaoSus'].errors?.customCns &&
                            preCadastro.controls['cartaoSus'].touched
                        "
                    ></p-message>
                    <label>Nº do Cartão SUS</label>
                </span>
            </div>

            <div class="p-g-12">
                <div class="ui-g-3"></div>
                <div class="ui-g-3">
                    <button
                        pButton
                        type="button"
                        label="Cancelar"
                        pTooltip="Cancelar registro de Pré-Cadastro."
                        routerLink="/pacientes/lista-pre-cadastro"
                    ></button>
                </div>
                <div class="ui-g-3">
                    <button
                        pButton
                        type="submit"
                        label="Salvar"
                        [disabled]="preCadastro.invalid"
                        pTooltip="Salvar registro de Pré-Cadastro."
                    ></button>
                </div>
            </div>
        </div>
    </div>
</form>
