<div class="p-grid p-fluid" [formGroup]="formGroup">
    <p-fieldset legend="Certidão" formGroupName="certidao">
        <div class="p-fluid p-formgrid p-grid" >
            <div
                nInputText
                label="Número da Certidão"
                formControlName="registroDeNascimento"
                class="p-md-4 p-sm-12"
            ></div>
            <div
                nDropdown
                label="Tipo de Certidão"
                [options]="opcoesDeTipoDeCertidao"
                formControlName="tipoDaCertidao"
                class="p-md-4 p-sm-12"
            ></div>
            <div
                nInputText
                label="Nome do Cartório"
                formControlName="nomeDoCartorio"
                class="p-md-4 p-sm-12"
            ></div>
        </div>
        <div class="p-fluid p-formgrid p-grid">
            <div
                nInputText
                label="Livro"
                formControlName="livro"
                class="p-md-3 p-sm-12">
            </div>
            <div
                nInputText
                label="Folhas"
                formControlName="folhas"
                class="p-md-2 p-sm-12">
            </div>
            <div nInputText
                 label="Termo"
                 formControlName="termo"
                 class="p-md-2 p-sm-12">
            </div>
            <div
                madreCalendar
                label="Data de Emissão"
                formControlName="dataDeEmissao"
                class="p-md-2 p-sm-12"
            ></div>
            <div
                nInputText
                label="Número da DN"
                formControlName="numeroDaDeclaracaoDeNascimento"
                class="p-md-3 p-sm-12"
            ></div>
        </div>
    </p-fieldset>
</div>
