<div class="ui-g p-fluid" [formGroup]="formGroup">
    <div class="p-g-12" formGroupName="certidao">
        <div nInputText label="Registro de Nascimento" formControlName="registroDeNascimento" class="ui-g-4"></div>
        <div nDropdown label="Tipo de Certidão" [options]="opcoesDeTipoDeCertidao" formControlName="tipoDaCertidao" class="ui-g-2"></div>
        <div nInputText label="Nome do Cartório" formControlName="nomeDoCartorio" class="ui-g-2"></div>
        <div nInputText label="Livro" formControlName="livro" class="ui-g-2"></div>
        <div nInputText label="Folhas" formControlName="folhas" class="ui-g-2"></div>
    </div>
    <div class="p-g-12" formGroupName="certidao">
        <div nInputText label="Termo" formControlName="termo" class="ui-g-4"></div>
        <div madreCalendar label="Data de Emissão" formControlName="dataDeEmissao" class="ui-g-4"></div>
        <div nInputText label="Número da DN" formControlName="numeroDaDeclaracaoDeNascimento" class="ui-g-4"></div>
    </div>
</div>
