<div class="ui-g">
    <form [formGroup]="group">
        <span class="ui-float-label">
            <p-autoComplete
                formControlName="valor"
                field="descricao"
                [required]="required"
                [suggestions]="service.getCIDS()"
                [dropdown]="true"
                [forceSelection]="true"
                (completeMethod)="service.buscarPorDescricao($event.query)"
            ></p-autoComplete>
            <label>{{ label }}</label>
        </span>
    </form>
</div>
