<div class="ui-g ui-fluid">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <h1>{{ tipoPergunta.id ? 'Editar Tipo Pergunta' : 'Incluir Pergunta' }}</h1>
      <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
        <div class="ui-g form-group">
          <input type="hidden" name="id" pInputText [(ngModel)]="tipoPergunta.id" readonly/>
          <div class="ui-g-12 ui-md-12">
            <span class="md-inputfield">
              <input type="text" name="enunciadoPergunta" [(ngModel)]="tipoPergunta.enunciadoPergunta" pInputText required/>
              <label>Enunciado Pergunta *</label>
                <div *ngIf= "editForm.controls['enunciadoPergunta'] && !editForm.controls['enunciadoPergunta'].valid && (editForm.controls['enunciadoPergunta'].touched || editForm.submitted)" class="ui-message ui-messages-error">
                  Campo obrigatório!
                </div>
            </span>
          </div>
        </div>
        <div class="ui-g">
          <div class="ui-g-12 ui-md-4"></div>
          <div class="ui-g-12 ui-md-2">
            <button pButton type="button" label="Cancelar" routerLink="/tipoPergunta"></button>
          </div>
          <div class="ui-g-12 ui-md-2">
            <button pButton type="submit" label="Salvar" [disabled]="isSaving" ></button>
          </div>
          <div class="ui-g-12 ui-md-4"></div>
        </div>
      </form>
    </div>
  </div>
</div>