<div class="ui-g ui-fluid" [formGroup]="documentos">
    <div class="ui-g-12">
        <div class="ui-g-3 ui-sm-12">
            <span class="ui-float-label">
                <input
                    type="text"
                    pInputText
                    formControlName="numeroIdentidade"
                    pTooltip="Digite o número da identidade do paciente."
                />
                <label>Número da Identidade</label>
            </span>
            <p-message
                severity="error"
                text="O campo 'Número da Identidade' é obrigátorio."
                *ngIf="
                    documentos.get('numeroIdentidade').touched &&
                    documentos.get('numeroIdentidade').invalid
                "
            ></p-message>
        </div>
        <div class="ui-g-3 ui-sm-12">
            <span class="ui-float-label">
                <p-dropdown
                    [options]="opcoesDeOrgaoEmissor"
                    formControlName="orgaoEmissor"
                    [filter]="true"
                >
                </p-dropdown>
                <label>Órgão Emissor</label>
            </span>
            <p-message
                severity="error"
                text="O campo 'Órgão Emissor' é obrigátorio."
                *ngIf="
                    documentos.get('orgaoEmissor').touched && documentos.get('orgaoEmissor').invalid
                "
            ></p-message>
        </div>
        <div class="ui-g-2 ui-sm-12">
            <span class="ui-float-label">
                <p-dropdown [options]="opcoesDeUF" formControlName="uf" [filter]="true">
                </p-dropdown>
                <label>UF</label>
            </span>
            <p-message
                severity="error"
                text="O campo 'UF' é obrigátorio."
                *ngIf="documentos.get('uf').touched && documentos.get('uf').invalid"
            ></p-message>
        </div>
        <div class="ui-g-2 ui-sm-12">
            <span class="ui-float-label">
                <p-calendar
                    [locale]="localizacao"
                    [yearRange]="yearRange"
                    dateFormat="dd/mm/yy"
                    [maxDate]="maxDate"
                    monthNavigator="true"
                    yearNavigator="true"
                    formControlName="dataDeEmissao"
                ></p-calendar>
                <label>Data de Emissão</label>
            </span>
            <p-message
                severity="error"
                text="O campo 'Data de Emissão' é obrigátorio."
                *ngIf="
                    documentos.get('dataDeEmissao').touched &&
                    documentos.get('dataDeEmissao').invalid
                "
            ></p-message>
        </div>
    </div>
    <div class="ui-g-12">
        <div class="ui-g-3 ui-sm-12">
            <span class="ui-float-label">
                <p-inputMask
                    formControlName="cpf"
                    mask="999.999.999-99"
                    placeholder="___.___.___-__"
                    pTooltip="Digite o CPF do paciente."
                ></p-inputMask>
                <label>CPF</label>
            </span>
        </div>
        <div class="ui-g-2 ui-sm-12">
            <span class="ui-float-label">
                <p-inputMask
                    formControlName="pisPasep"
                    mask="999.99999.99-9"
                    placeholder="___._____.__-_"
                    pTooltip="Digite o PIS/PASEP do paciente."
                ></p-inputMask>
                <label>PIS/PASEP</label>
            </span>
        </div>
        <div class="ui-g-3 ui-sm-12">
            <span class="ui-float-label">
                <p-inputMask
                    formControlName="cnh"
                    placeholder="___________"
                    mask="99999999999"
                    pTooltip="Digite a CNH do paciente."
                ></p-inputMask>
                <label>CNH</label>
            </span>
        </div>
        <div class="ui-g-2 ui-sm-12">
            <span class="ui-float-label">
                <p-calendar
                    [locale]="validade"
                    [yearRange]="yearValidade"
                    dateFormat="dd/mm/yy"
                    monthNavigator="true"
                    yearNavigator="true"
                    formControlName="validadeCNH"
                ></p-calendar>
                <label>Validade da CNH</label>
            </span>
        </div>
    </div>
</div>
