<form class="ui-g ui-fluid" [formGroup]="documentos">
  <div class="ui-g-12">
    <div class="ui-g-4">
      <input
        type="text"
        pInputText
        placeholder="Número Identidade"
        formControlName="numeroIdentidade"
      />
    </div>
    <div class="ui-g-4">
      <p-dropdown
        [options]="listaDeOrgaos"
        placeholder="Órgão Emissor"
        formControlName="orgaoEmissor"
        [filter]="true"
      >
      </p-dropdown>
    </div>
    <div class="ui-g-2">
      <p-dropdown [options]="listaDeUF" placeholder="UF" formControlName="uf" [filter]="true">
      </p-dropdown>
    </div>
    <div class="ui-g-2">
      <p-calendar
        [locale]="localizacao"
        [yearRange]="yearRange"
        dateFormat="dd/mm/yy"
        [maxDate]="maxDate"
        monthNavigator="true"
        yearNavigator="true"
        formControlName="data"
        required="true"
        placeholder="Data"
      ></p-calendar>
    </div>
  </div>
  <div class="ui-g-12">
    <div class="ui-g-4">
      <input type="text" pInputText placeholder="CPF" formControlName="cpf" />
    </div>
    <div class="ui-g-2">
      <input type="text" pInputText placeholder="PIS/PASEP" formControlName="pisPasep" />
    </div>
    <div class="ui-g-4">
      <input type="text" pInputText placeholder="CNH" formControlName="cnh" />
    </div>
    <div class="ui-g-2">
      <p-calendar
        [locale]="validade"
        [yearRange]="yearValidade"
        dateFormat="dd/mm/yy"
        monthNavigator="true"
        yearNavigator="true"
        formControlName="validadeCNH"
        required="true"
        placeholder="Validade da CNH"
      ></p-calendar>
    </div>
  </div>
</form>
