<div class="ui-g ui fluid">
    <div class="ui-g-12">
        <div class="card card-w-title">
            <h1>Pacientes</h1>
            <div class="ui-g">
                <div class="ui-g-12 ui-md-12 ui-fluid">
                    <span class="md-inputfield">
                        <input type="text" pInputText class="ui-inputtext" name="filtro" />
                        <label>Nome paciente</label>
                    </span>
                </div>
                <div class="ui-g-12 ui-md-6">
                    <div class="ui-g-12 ui-md-6">
                        <button pButton type="button" label="Pesquisar" icon="ui-icon-search"></button>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-3"></div>

                <basis-datatable type="server" [url]="searchUrl" [rows]="10" [value]="pacientes" [disableView]="true" [disableEdit]="true" [disableDelete]="true">
                    <p-column header="Nome" field="nome"></p-column>
                    <p-column header="Idade" field="idade"></p-column>
                    <p-column header="Prontuário" field="prontuario"></p-column>
                    <p-column header="Responsável" field="responsavel"></p-column>
                    <p-column header="Dt. Atendimento" field="dataAtendimento"></p-column>
                    <basis-datatable-button icon="local-dining" name="prescrever-dieta" routerLink="/prescricao-medica/dieta" bTooltip="Prescrever Dieta"
                        class="ui-button-info">
                    </basis-datatable-button>
                </basis-datatable>
            </div>
        </div>
    </div>
</div>

