<div class="ui-g ui-fluid" *ngIf="funcionalidade">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <h1>Visualizar Funcionalidade</h1>
      <div class="ui-g form-group">
        <div class="ui-g-12 ui-md-6">
          <span class="md-inputfield">
            <input type="text" name="nm_funcionalidade" pInputText [ngModel]="funcionalidade.nm_funcionalidade" readonly/>
            <label>Nm Funcionalidade</label>
          </span>
        </div>
        <div class="ui-g-12 ui-md-6">
          <span class="md-inputfield">
            <input type="text" name="cd_funcionalidade" pInputText [ngModel]="funcionalidade.cd_funcionalidade" readonly/>
            <label>Cd Funcionalidade</label>
          </span>
        </div>
        <div class="ui-g-12 ui-md-6">
          <span class="md-inputfield">
            <input type="text" name="dh_cadastro" pInputText [ngModel]="funcionalidade.dh_cadastro|date:'dd/MM/y'" readonly/>
            <label>Dh Cadastro</label>
          </span>
        </div>
        <div class="ui-g-12 ui-md-6">
          <span class="md-inputfield">
            <input type="text" name="st_excluido" pInputText [ngModel]="funcionalidade.st_excluido" readonly/>
            <label>St Excluido</label>
          </span>
        </div>
      </div>
      <div class="ui-g">
        <div class="ui-g-12 ui-md-2">
          <button pButton type="button" label="Voltar" routerLink="/funcionalidade"></button>
        </div>
      </div>
    </div>
  </div>
</div>