<div class="card">
    <h1>Transferir Paciente</h1>
    <basis-datatable
        type="memory"
        sortField="brand"
        [value]="internacoes"
        [disableView]="true"
        [disableEdit]="true"
        [disableDelete]="true"
        (buttonClick)="ModalTableClick($event)"
        #datatable
    >
        <p-column header="ID" field="id"></p-column>
        <p-column header="Nome" field="pacienteId"></p-column>
        <p-column header="Internação" field="dataDaInternacao">
            <ng-template let-col="col" let-rowData="rowData" pTemplate="body">
                <span>{{ rowData[col.field] | date: 'dd/M/yyyy , HH:mm':'GMT' }}</span>
            </ng-template>
        </p-column>
        <p-column header="Transferência" field=""></p-column>
        <p-column header="Leito" field="leitoId"></p-column>
        <p-column header="Quarto" field=""></p-column>
        <p-column header="Unidade" field=""></p-column>
        <p-column header="Especialidade" field="especialidadeId"></p-column>
        <p-column header="Convênio" field="convenioId"></p-column>

        <basis-datatable-button
            name="edit"
            icon="pi pi-pencil"
            class="p-button-success"
            [disabled]="datatable.selectedRow == null"
        >
        </basis-datatable-button>
        <basis-datatable-button
            name="view"
            icon="pi pi-eye"
            class="ng-star-inserted"
            [disabled]="datatable.selectedRow == null"
        >
        </basis-datatable-button>
        <basis-datatable-button
            name="delete"
            icon="pi pi-trash"
            class="p-button-danger"
            [disabled]="datatable.selectedRow == null"
        >
        </basis-datatable-button>
    </basis-datatable>
</div>

<p-dialog
    [(visible)]="internacaoModal"
    [style]="{ width: '46.875rem' }"
    header=" "
    [modal]="true"
>
    <ng-template pTemplate="content">
        <div class="card p-fluid">
            <h1>Visualizar</h1>
            <div class="p-col-12 p-grid p-fluid">
                <b class="p-md-6 p-sm-12">Nome:</b>
                <label class="p-md-6 p-sm-12">{{ internacaoModal.pacienteId }}</label>
            </div><hr>
            <div class="p-col-12 p-grid p-fluid">
                <b class="p-md-6 p-sm-12">Internação:</b>
                <label class="p-md-6 p-sm-12">{{ internacaoModal.dataDaInternacao }}</label>
            </div><hr>
            <div class="p-col-12 p-grid p-fluid">
                <b class="p-md-6 p-sm-12">Transferência:</b>
                <label class="p-md-6 p-sm-12">{{ valor }}</label>
            </div><hr>
            <div class="p-col-12 p-grid p-fluid">
                <b class="p-md-6 p-sm-12">Leito:</b>
                <label class="p-md-6 p-sm-12">{{ internacaoModal.pacienteId }}</label>
            </div><hr>
            <div class="p-col-12 p-grid p-fluid">
                <b class="p-md-6 p-sm-12">Quarto:</b>
                <label class="p-md-6 p-sm-12">{{ valor }}</label>
            </div><hr>
            <div class="p-col-12 p-grid p-fluid">
                <b class="p-md-6 p-sm-12">Unidade:</b>
                <label class="p-md-6 p-sm-12">{{ valor }}</label>
            </div><hr>
            <div class="p-col-12 p-grid p-fluid">
                <b class="p-md-6 p-sm-12">Especialidade:</b>
                <label class="p-md-6 p-sm-12">{{ internacaoModal.especialidadeId }}</label>
            </div><hr>
            <div class="p-col-12 p-grid p-fluid">
                <b class="p-md-6 p-sm-12">Convênio:</b>
                <label class="p-md-6 p-sm-12">{{ internacaoModal.convenioId }}</label>
            </div>
        </div>
    </ng-template>
</p-dialog>
