$primaryColor:#009688;
$primaryLightestColor: #E0F2F1;
$primaryMenuTextColor: $primaryColor;
$primaryTextColor:#ffffff;
$accentColor:#96000f;
$accentTextColor:#ffffff;

@import '../../sass/theme/theme_light';
