$primaryColor:#1FAAEE;
$primaryLightestColor: #C3E6FF99;
$primaryMenuTextColor: #02487B;
$primaryTextColor:#ffffff;
$accentColor:#96000f;
$accentTextColor:#ffffff;

@import '../../sass/theme/theme_light';
