<div class="ui-g ui-fluid" *ngIf="prescricao">
    <div class="ui-g-12">
        <div class="card card-w-title">
            <h1 >Visualizar Prescrição Médica</h1>
            <div class="ui-g">
                <div class="ui-g-9">
                    <label>Nome: {{ prescricao.nome }}</label>
                </div>
                <div class="ui-g-9">
                    <label>Início da Prescrição: {{ prescricao.dataInicio }}</label>
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-5 ui-sm-5">
                    <button pButton type="button" label="Voltar" routerLink="/dispensacaos"></button>
                </div>
            </div>
        </div>
    </div>
</div>
