<div class="ui-g ui-fluid" [formGroup]="telefone">
    <div class="ui-g-12">
        <div nDropdown required label="Tipo de Telefone" [options]="opcoesDeDDD" formControlName="tipo" (onChange)="tipoTelefone($event)" class="ui-g-4 ui-sm-12"></div>
        <div nDropdown required label="DDD" [options]="opcoesDeDDD" formControlName="ddd" class="ui-g-2 ui-sm-12"></div>
        <div nInputMask required [mask]="typeMask" tooltip="Informe o telefone." label="Telefone" formControlName="numero" class="ui-g-6 ui-sm-12"></div>
        <div class="ui-g-12 ui-sm-12">
            <span class="ui-float-label">
                <textarea
                    formControlName="observacao"
                    [rows]="3"
                    pInputTextarea
                    autoResize="autoResize"
                    pTooltip="Informe o observação."
                ></textarea>
                <label>Observação</label>
            </span>
        </div>
    </div>
    <div *ngIf="!telefone.value.indice">
        <p-button
            label="Adicionar"
            [disabled]="telefone.invalid"
            [disabled]="controle ? true : null"
            type="button"
            (onClick)="adicionarTelefoneALista()"></p-button>
    </div>
    <div *ngIf="controle">
        <p-button
        [disabled]="telefone.invalid"
        label="Editar"
        type="button"
        (onClick)="atualizarEdicao()"
        ></p-button>
    </div>
    <basis-datatable type="memory" 
    [disableView]="true" 
    [value]="telefones.value"  
    (buttonClick)="datatableClick($event)"
    #datatable
    >
        <p-column header="Tipo" field="tipo"></p-column>
        <p-column header="DDD" field="ddd"></p-column>
        <p-column header="Telefone" field="numero"></p-column>
        <p-column header="Observação" field="observacao"></p-column>
    </basis-datatable>
</div>
