<div class="ui-g ui-fluid" [formGroup]="telefone">
    <div class="ui-g-12">
        <div nInputMask required mask="(99)" tooltip="Informe o DDD." placeholder="(__)" label="DDD" formControlName="ddd" class="ui-g-3 ui-sm-12"></div>
        <div nInputMask required mask="9 9999-9999" tooltip="Informe o telefone." placeholder="_ ____-____" label="Telefone" formControlName="numero" class="ui-g-6 ui-sm-12"></div>
        <div nDropdown required label="Tipo de Telefone" [options]="opcoesDeTipoDeTelefone" formControlName="tipo" class="ui-g-3 ui-sm-12"></div>
        <div class="ui-g-12 ui-sm-12">
            <span class="ui-float-label">
                <textarea
                    formControlName="observacao"
                    [rows]="3"
                    pInputTextarea
                    autoResize="autoResize"
                    pTooltip="Informe o observação."
                ></textarea>
                <label>Observação</label>
            </span>
        </div>
    </div>
    <div *ngIf="!telefone.value.indice">
        <p-button
            label="Adicionar"
            [disabled]="telefone.invalid"
            [disabled]="controle ? true : null"
            type="button"
            (onClick)="adicionarTelefoneALista()"></p-button>
    </div>
    <div *ngIf="controle">
        <p-button
        [disabled]="telefone.invalid"
        label="Editar"
        type="button"
        (onClick)="atualizarEdicao()"
        ></p-button>
    </div>
    <basis-datatable type="memory" [disableView]="true" [value]="telefones.value"  (buttonClick)="datatableClick($event)">
        <p-column header="Tipo" field="tipo"></p-column>
        <p-column header="DDD" field="ddd"></p-column>
        <p-column header="Telefone" field="numero"></p-column>
        <p-column header="Observação" field="observacao"></p-column>
    </basis-datatable>
</div>
