<div class="ui-g ui-fluid" [formGroup]="responsavel">
    <div class="ui-g-12">
        <div class="ui-g-3 ui-sm-12">
            <span class="ui-float-label">
                <input
                    type="text"
                    pInputText
                    formControlName="nomeDoResponsavel"
                    pTooltip="Digite o nome do responsável do paciente."
                />
                <label>Nome do Responsável</label>
            </span>
            <p-message
                severity="error"
                text="O campo 'Nome do Responsável' é obrigátorio."
                *ngIf="
                    responsavel.get('nomeDoResponsavel').touched &&
                    responsavel.get('nomeDoResponsavel').invalid
                "
            ></p-message>
        </div>
        <div class="ui-g-2 ui-sm-12">
            <span class="ui-float-label">
                <div
                    nAutoComplete
                    [service]="grauDeParentescoService"
                    field="valor"
                    formControlName="grauDeParentesco"
                    label="Grau de Parentesco"
                ></div>
            </span>
            <p-message
                severity="error"
                text="O campo 'Grau de Parentesco' é obrigátorio."
                *ngIf="
                    responsavel.get('grauDeParentesco').touched &&
                    responsavel.get('grauDeParentesco').invalid
                "
            ></p-message>
        </div>
        <div class="ui-g-1 ui-sm-12">
            <span class="ui-float-label">
                <p-inputMask
                    formControlName="ddd"
                    mask="(999)"
                    placeholder="(___)"
                    pTooltip="Digite o DDD do paciente."
                ></p-inputMask>
                <label>DDD</label>
                <p-message
                    severity="error"
                    text="O campo 'DDD' é obrigátorio."
                    *ngIf="responsavel.get('ddd').touched && responsavel.get('ddd').invalid"
                ></p-message>
            </span>
        </div>
        <div class="ui-g-2 ui-sm-12">
            <span class="ui-float-label">
                <p-inputMask
                    formControlName="telefone"
                    mask="99999-9999"
                    placeholder="_____-____"
                    pTooltip="Digite o telefone do paciente."
                ></p-inputMask>
                <label>Telefone</label>
            </span>
            <p-message
                severity="error"
                text="O campo 'Telefone' é obrigátorio."
                *ngIf="responsavel.get('telefone').touched && responsavel.get('telefone').invalid"
            ></p-message>
        </div>
        <div class="ui-g-8 ui-sm-12">
            <span class="ui-float-label">
                <textarea
                    formControlName="observacao"
                    [rows]="3"
                    pInputTextarea
                    autoResize="autoResize"
                    pTooltip="Informe o observação."
                ></textarea>
                <label>Observação</label>
            </span>
        </div>
    </div>
</div>
