
.title {
    font-family: Open Sans;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0px;
    text-align: center;
    text-shadow: 0px 2px 4px rgb(0 0 0 / 25%);
}

.classificacao-de-risco {
    align-items: center;
    display: inline-block;
}

.descricao {
    background: #E3E3E3;
    text-align: center;
    border-radius: 15px;
    margin: 5px;
}

.button-triagem {
    background: #F5F5F5;
    border: 1px solid #D4DDE5;
    box-sizing: border-box;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    margin: 10px;
    height: 100%;
}

.nao-urgente:hover, .nao-urgente.checked {
    background: linear-gradient(112.64deg, #1FAAEE -0.07%, #0982BD 100%), #F5F5F5;
    border: solid #0982BD;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    color: white;
}

.nao-urgente:hover p, .nao-urgente.checked p {
    background: #0673A8;
}

.pouco-urgente:hover, .pouco-urgente.checked {
    background: linear-gradient(112.64deg, #33A987 -0.07%, #088762 100%), #F5F5F5;
    border: solid #088762;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    color: white;
}

.pouco-urgente:hover p, .pouco-urgente.checked p {
    background: #047151;
}

.urgente:hover, .urgente.checked {
    background: linear-gradient(112.64deg, #FCE300 -0.07%, #FCC605 100%), #F5F5F5;
    border: solid #E5B302;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    color: white;
}

.urgente:hover p, .urgente.checked p {
    background: #E6B302;
}

.muito-urgente:hover, .muito-urgente.checked {
    background: linear-gradient(112.64deg, #FC8509 -0.07%, #CC6403 100%), #F5F5F5;
    border: 4px solid #CC6403;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    color: white;
}

.muito-urgente:hover p, .muito-urgente.checked p {
    background: #B95A02;
}

.emergencia:hover, .emergencia.checked {
    background: linear-gradient(112.64deg, #E22526 -0.07%, #B60832 100%), #F5F5F5;
    border: 4px solid #AD0404;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    color: white;
}

.emergencia:hover p, .emergencia.checked p {
    background: #9B0303;
}
