<div class="ui-g ui-fluid">
    <form [formGroup]="formularioDeCadastro" (ngSubmit)="cadastrar()">
        <p-accordion>
            <p-accordionTab header="Dados Pessoais" [selected]="true">
                <app-dados-pessoais [dadosPessoais]="dadosPessoais"></app-dados-pessoais>
            </p-accordionTab>
            <p-accordionTab header="Contatos do Paciente">
                <app-telefone [telefones]="telefones"> </app-telefone>
            </p-accordionTab>
            <p-accordionTab header="Endereço">
                <app-endereco [enderecos]="enderecos"></app-endereco>
            </p-accordionTab>
            <p-accordionTab header="Responsável">
                <app-responsavel [responsavel]="responsavel"></app-responsavel>
            </p-accordionTab>
            <p-accordionTab header="Documentos">
                <app-documentos [documentos]="documentos"></app-documentos>
            </p-accordionTab>
            <p-accordionTab header="Certidão">
                <app-certidao [certidao]="certidao"></app-certidao>
            </p-accordionTab>
            <p-accordionTab header="Cartão SUS">
                <app-cartao-sus [cartaoSUS]="cartaoSUS"></app-cartao-sus>
            </p-accordionTab>
            <p-accordionTab header="observacao">
                <div class="ui-g ui-fluid">
                    <textarea
                        formControlName="observacao"
                        [rows]="3"
                        pInputTextarea
                        autoResize="autoResize"
                    ></textarea>
                </div>
            </p-accordionTab>
        </p-accordion>
        <button pButton type="submit" label="Cadastrar"></button>
    </form>
</div>
