<h3 class="first" [innerHTML]="title"></h3>
<nCrudForm [form]="paciente">
    <p-tabView>
        <p-tabPanel>
            <ng-template pTemplate="header">
                <i class="pi pi-user" [style]="{ 'margin-right': '10px' }"></i>
                <span>Dados Pessoais</span>
            </ng-template>
            <paciente-form-dados-pessoais [formGroup]="paciente"></paciente-form-dados-pessoais>
            <paciente-form-certidao [formGroup]="paciente"></paciente-form-certidao>
            <paciente-form-documentos [formGroup]="paciente"></paciente-form-documentos>
        </p-tabPanel>
        <p-tabPanel header="Contatos do Paciente">
            <app-telefone [formGroup]="paciente"></app-telefone>
        </p-tabPanel>
        <p-tabPanel>
            <ng-template pTemplate="header">
                <i class="pi pi-home" [style]="{ 'margin-right': '10px' }"></i>
                <span>Endereço</span>
            </ng-template>
            <paciente-form-endereco
                [enderecos]="paciente.get('enderecos')"
            ></paciente-form-endereco>
        </p-tabPanel>
        <p-tabPanel>
            <ng-template pTemplate="header">
                <i class="pi pi-users" [style]="{ 'margin-right': '10px' }"></i>
                <span>Responsável</span>
            </ng-template>
            <paciente-form-responsavel [formGroup]="paciente"></paciente-form-responsavel>
        </p-tabPanel>
        <p-tabPanel>
            <ng-template pTemplate="header">
                <i class="pi pi-id-card" [style]="{ 'margin-right': '10px' }"></i>
                <span>Cartão SUS</span>
            </ng-template>
            <paciente-form-cartao-sus [formGroup]="paciente"></paciente-form-cartao-sus>
        </p-tabPanel>
    </p-tabView>

    <div class="card observacao">
        <p-fieldset legend="Observação">
            <div class="p-grid p-fluid" [formGroup]="paciente">
                <span class="p-float-label p-sm-12">
                    <textarea
                        class="p-md-2 p-sm-12"
                        formControlName="observacao"
                        [rows]="3"
                        pInputTextarea
                        autoResize="autoResize"
                        pTooltip="Informe a observação sobre o paciente"
                    >
                    </textarea>
                    <label>Observação sobre o paciente</label>
                </span>
            </div>
        </p-fieldset>
    </div>
</nCrudForm>
