<h1>Pesquisa de Paciente</h1>

<div class="card card-w-title">
    <div nForm [formGroup]="paciente">
        <div class="p-grid p-fluid p-mb-5">
            <div nInputText label="Nome paciente" formControlName="nome" class="p-col-12" style="width: 35%"></div>
            <div nInputText label="Prontuario paciente" formControlName="prontuario" class="p-col-12" style="width: 35%"></div>
        </div>
    </div>
</div>

<div class="card card-w-title">
    <nCrudList [form]="paciente" [datatableParams]="datatableParams">
        <p-column header="Prontuário" icon="" field="prontuario">
        </p-column>
            <p-column header="Nome" field="nome"></p-column>
            <p-column header="Nome da Mãe" field="genitores">
                <ng-template let-data="rowData" pTemplate="body">
                    {{ data['genitores']?.nomeDaMae }}
                </ng-template>
            </p-column>
            <p-column header="Data de Nascimento" field="dataDeNascimento"></p-column>
            <p-column header="Nº Cartão SUS" field="cartaoSUS">
                <ng-template let-data="rowData" pTemplate="body">
                    {{ data['cartaoSUS']?.numero }}
                </ng-template>
            </p-column>
            <p-column header="Ações" field=""></p-column>
    </nCrudList>
</div>