

<p-tabMenu [model]="items">
    
</p-tabMenu>
<!--  -->


<nCrudForm [form]="paciente" >
    <div class="p-col-12 p-grid">
        <p-accordion>
            <p-accordionTab header="Dados Pessoais" [selected]="true">
                <paciente-form-dados-pessoais [formGroup]="paciente"></paciente-form-dados-pessoais>
            </p-accordionTab>
            <p-accordionTab header="Contatos do Paciente">
                <paciente-form-telefone [telefones]="paciente.get('telefones')"> </paciente-form-telefone>
            </p-accordionTab>
            <p-accordionTab header="Endereço">
                <paciente-form-endereco [enderecos]="paciente.get('enderecos')"></paciente-form-endereco>
            </p-accordionTab>
            <p-accordionTab header="Responsável">
                <paciente-form-responsavel [formGroup]="paciente"></paciente-form-responsavel>
            </p-accordionTab>
            <p-accordionTab header="Documentos">
                <paciente-form-documentos [formGroup]="paciente"></paciente-form-documentos>
            </p-accordionTab>
            <p-accordionTab header="Certidão">
                <paciente-form-certidao [formGroup]="paciente"></paciente-form-certidao>
            </p-accordionTab>
            <p-accordionTab header="Cartão SUS">
                <paciente-form-cartao-sus [formGroup]="paciente"></paciente-form-cartao-sus>
            </p-accordionTab>
            <p-accordionTab header="Observação" [formGroup]="paciente">
                <div class="p-grid p-fluid">
                    <div class="p-col-12 p-grid">
                        <div class="p-md-12">
                            <span class="p-float-label">
                                <textarea
                                    formControlName="observacao"
                                    [rows]="3"
                                    pInputTextarea
                                    autoResize="autoResize"
                                    pTooltip="Informe o observação."
                                ></textarea>
                                <label>Observação</label>
                            </span>
                        </div>
                    </div>
                </div>
            </p-accordionTab>
        </p-accordion>
    </div>
</nCrudForm>
<div class="p-col-12 p-grid" *ngIf = "paciente.get('id').value">
    <div class="p-md-4 p-sm-12">
        <button pButton label="Visualizar impressão" (click)="imprimirRelatorioPaciente(paciente.get('id').value)"></button>
    </div>
</div>

