<div class="ui-g ui-fluid">
    <div class="ui-g-12">
        <form [formGroup]="parentFormGroup">
            <div class="ui-g-1">
                <span class="md-inputfield" style="margin-top: 5px;">
                    <p-autoComplete
                        [suggestions]="documentos"
                        (completeMethod)="obterDocumentoPeloNumero($event)"
                        [dropdown]="true"
                        (onSelect)="aoSelecionarUmNumero($event)"
                        field="numeroDocumento"
                    ></p-autoComplete>
                    <label>Número</label>
                </span>
            </div>
            <div class="ui-g-1">
                <span class="md-inputfield" style="margin-top: 5px;">
                    <input pInputText type="text" formControlName="serie" />
                    <label>Série</label>
                </span>
            </div>
            <div class="ui-g-2">
                <span class="md-inputfield" style="margin-top: 5px;">
                    <input pInputText type="text" formControlName="tipoNotaFiscal" />
                    <label>Tipo de Nota Fiscal</label>
                </span>
            </div>
            <div class="ui-g-1">
                <span class="md-inputfield" style="margin-top: 5px;">
                    <input pInputText type="text" formControlName="dataEmissao" />
                    <label>Data de Emissão</label>
                </span>
            </div>
            <div class="ui-g-1">
                <span class="md-inputfield" style="margin-top: 5px;">
                    <input pInputText type="text" formControlName="dataEntrada" />
                    <label>Data de Entrada</label>
                </span>
            </div>
            <div class="ui-g-1">
                <span class="md-inputfield" style="margin-top: 5px;">
                    <input pInputText type="text" formControlName="valorTotal" />
                    <label>R$ Valor</label>
                </span>
            </div>
            <div class="ui-g-2">
                <span class="md-inputfield" style="margin-top: 5px;">
                    <input pInputText type="text" formControlName="valorComprometido" />
                    <label>Valor Comprometido</label>
                </span>
            </div>
            <div class="ui-g-1">
                <button
                    pButton
                    label="Nota Fiscal"
                    [routerLink]="['/documentos-fiscais/notas-fiscais/nova']"
                    icon="ui-icon-add"
                ></button>
            </div>
            <div class="ui-g-1">
                <button pButton label="Limpar" icon="ui-icon-minus" (click)="limpar()"></button>
            </div>
        </form>
    </div>
</div>
