    <div class="card card-w-title">
        <p-tabView>
            <p-tabPanel header="Cadastro de Exames">
                <app-formulario-exame [listaSinonimos]='sinonimos'></app-formulario-exame>
            </p-tabPanel>
            <p-tabPanel header="Sinônimos de Exames">
                <app-sinonimos-exames #appSinonimos> </app-sinonimos-exames>
            </p-tabPanel>
            <p-tabPanel header="Materiais de Análise">
                <app-cadastrar-material></app-cadastrar-material>
            </p-tabPanel>
        </p-tabView>
    </div>
    