    <div class="card card-w-title">
        <p-tabView>
            <p-tabPanel header="Cadastro de Exames">
                <app-formulario-exame></app-formulario-exame>
            </p-tabPanel>
            <p-tabPanel header="Sinonimo de Exames">
                <app-sinonimos-exames> </app-sinonimos-exames>
            </p-tabPanel>
            <p-tabPanel header="Matérial de Análise">
                <app-cadastrar-material></app-cadastrar-material>
            </p-tabPanel>
        </p-tabView>
    </div>


