<div class="ui-g p-fluid" [formGroup]="formGroup">
    <div class="p-g-12" formGroupName="cartaoSUS">
        <div nInputMask label="Número" formControlName="numero" mask="999999999999999" placeholder="___ ____ ____ ____" tooltip="Informe o número do Cartão SUS (CNS)." class="ui-g-2"></div>
        <div nAutoComplete [service]="justificativaService" field="valor" formControlName="justificativaId" label="Justificativa da Ausência CNS" class="ui-g-3"></div>
        <div nAutoComplete [service]="motivoDoCadastroService" field="valor" formControlName="motivoDoCadastroId" label="Motivo Cadastro" class="ui-g-2"></div>
        <div nDropdown label="Doc. Referência" [options]="opcoesDeDocumentoDeReferencia" formControlName="documentoDeReferencia" class="ui-g-2"></div>
        <div nInputMask label="Cartão Nacional Saúde Mãe" formControlName="cartaoNacionalSaudeMae" mask="999999999999999" placeholder="___ ____ ____ ____" tooltip="Informe o CNS da mãe do paciente." class="ui-g-3"></div>
    </div>
    <legend>Se Naturalizado Brasileiro</legend>
    <div class="p-g-12" formGroupName="cartaoSUS">
        <div madreCalendar label="Data de Entrada no Brasil" formControlName="dataDeEntradaNoBrasil" class="ui-g-4 ui-sm-12"></div>
        <div madreCalendar label="Data de Naturalização" formControlName="dataDeNaturalizacao" class="ui-g-4 ui-sm-12"></div>
        <div nInputText label="Portaria" formControlName="portaria" class="ui-g-4 ui-sm-12"></div>
    </div>
</div>
