<div class="ui-g ui-fluid">
    <div class="ui-g-12">

        <div class="ui-g ">

            <div class="card card-w-title">

                <h1>Prescrever dieta</h1>

                <form autocomplete="off" #frm="ngForm" (ngSubmit)="adicionar(frm)">
                    <div class="ui-g-12">
                        <div class="ui-g-12">
                            <span class="md-inputfield">
                                <input type="text" [(ngModel)]="paciente.nome" name="nome" pInputText disabled />
                                <label>Paciente</label>
                            </span>
                        </div>

                    </div>
                    <div class="ui-g-12">

                        <div class="ui-g-12">
                            <span class="md-inputfield">
                                <p-dropdown id="descricao" [autoWidth]="false" placeholder="Selecione..."
                                    [options]="optItem" [(ngModel)]="dieta.descricao" name="descricao" required
                                    #descricaoItem></p-dropdown>
                                <label>Tipo Item</label>
                            </span>
                        </div>
                    </div>

                    <div class="ui-g-12">
                        <div class="ui-g-6">
                            <span class="md-inputfield">
                                <input type="text" pInputText id="quantidade" name="quantidade"
                                    [(ngModel)]="dieta.quantidade" />
                                <label>Quantidade</label>
                            </span>
                        </div>

                        <div class="ui-g-6">
                            <span class="md-inputfield">
                                <input type="text" pInputText id="unidade" name="unidade" [(ngModel)]="dieta.unidade" />
                                <label>Unidade</label>
                            </span>
                        </div>

                    </div>

                    <div class="ui-g-12">
                        <div class="ui-g-5">
                            <span class="md-inputfield">
                                <input type="text" pInputText id="frequencia" name="frequencia"
                                    [(ngModel)]="dieta.frequencia" />
                                <label>Frequência</label>
                            </span>
                        </div>

                        <div class="ui-g-5">
                            <span class="md-inputfield">
                                <input type="text" pInputText id="aprazamento" name="aprazamento"
                                    [(ngModel)]="dieta.tipoAprazamento" />
                                <label>Aprazamento</label>
                            </span>
                        </div>

                        <div class="ui-g-2">
                            <span class="md-inputfield">
                                <input type="text" pInputText id="numeroVezes" name="numeroVezes"
                                    [(ngModel)]="dieta.numeroVezes" />
                                <label>Número vezes</label>
                            </span>
                        </div>
                    </div>

                    <div class="ui-g-12">

                        <div class="ui-g-12">
                            <span class="md-inputfield">
                                <textarea [rows]="6" [cols]="30" pInputTextarea autoResize="autoResize" id="observacao" name="observacao"
                                    [(ngModel)]="dieta.observacao" ></textarea>
                                <label>Observações</label>
                            </span>
                        </div>
                    </div>

                    <div class="ui-g-12">

                        <div class="ui-g-2">
                            <label>Bomboa Infusão?</label>
                        </div>
                        <div class="ui-g-2">
                            <p-radioButton id="sim" type="radio" value="true" name="bombaInfusao" pRadioButton
                                [(ngModel)]="dieta.bombaInfusao"></p-radioButton>
                            <label>Sim</label>
                        </div>
                        <div class="ui-g-2">
                            <p-radioButton id="nao" type="radio" value="false" name="bombaInfusao" pRadioButton
                                [(ngModel)]="dieta.bombaInfusao"></p-radioButton>
                            <label>Não</label>
                        </div>

                    </div>

                    <div class="ui-g-12">
                        <div class="ui-g-6">
                            <button pButton type="submit" label="Prescrever" [disabled]="!descricaoItem.value">
                            </button>

                        </div>
                    </div>

                </form>
            </div>

            <div class="ui-g-12 ui-md-3"></div>
            <div class="ui-g-12">
                <basis-datatable type="server" [url]="baseUrl" [value]="dietas" [disableView]="true"
                    [disableEdit]="true" [disableDelete]="true">
                    <p-column header="Item" field="descricao"></p-column>
                    <p-column header="Quantidade" field="quantidade"></p-column>
                    <p-column header="Unidade" field="unidade"></p-column>
                    <p-column header="Frequência" field="frequencia"></p-column>
                    <p-column header="Aprazamento" field="tipoAprazamento"></p-column>
                    <p-column header="Número vezes" field="numeroVezes"></p-column>

                    <!-- <basis-datatable-button icon="add-box" name="criar-dieta" bTooltip="Criar Dieta"
                class="ui-button-info">
            </basis-datatable-button> -->
                </basis-datatable>
            </div>

        </div>
    </div>
</div>
