<div class="ui-g ui-fluid">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <h1>{{ unidadeHospitalar.id ? 'Editar Unidade Hospitalar' : 'Cadastrar Unidade Hospitalar' }}</h1>
      <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
        <div class="ui-g form-group">
          <input type="hidden" name="id" pInputText [(ngModel)]="unidadeHospitalar.id" readonly/>
          <div class="ui-g-12 ui-md-6">
            <span class="md-inputfield">
              <input type="hidden" name="logo" [(ngModel)]="unidadeHospitalar.logo"/>
              <input type="hidden" class="form-control" name="logoContentType" id="field_logoContentType"
                  [(ngModel)]="unidadeHospitalar.logoContentType" />
              <label>Logo</label>
            </span>
          </div>
          <div class="ui-g-12 ui-md-6">
            <span class="md-inputfield">
              <input type="text" name="sigla" [(ngModel)]="unidadeHospitalar.sigla" pInputText/>
              <label>Sigla</label>
            </span>
          </div>
          <div class="ui-g-12 ui-md-6">
            <span class="md-inputfield">
              <input type="text" name="nome" [(ngModel)]="unidadeHospitalar.nome" pInputText/>
              <label>Nome</label>
            </span>
          </div>
          <div class="ui-g-12 ui-md-6">
            <span class="md-inputfield">
              <input type="text" name="cnpj" [(ngModel)]="unidadeHospitalar.cnpj" pInputText/>
              <label>Cnpj</label>
            </span>
          </div>
          <div class="ui-g-12 ui-md-6">
            <span class="md-inputfield">
              <input type="text" name="endereco" [(ngModel)]="unidadeHospitalar.endereco" pInputText/>
              <label>Endereco</label>
            </span>
          </div>
          <div class="ui-g-12 ui-md-6">
              <div class="ui-g">
                <div class="ui-g-12 ui-md-2">
                  <label>Ativo</label>
              </div>
              <div class="ui-g-12 ui-md-2">
                <p-radioButton name="ativo" [value]="true" label="Sim" [(ngModel)]="unidadeHospitalar.ativo"></p-radioButton>
              </div>
              <div class="ui-g-12 ui-md-2">
                <p-radioButton name="ativo" [value]="false" label="Não" [(ngModel)]="unidadeHospitalar.ativo"></p-radioButton>
              </div>
            </div>
          </div>
        </div>
        <div class="ui-g">
          <div class="ui-g-12 ui-md-2">
            <button pButton type="button" label="Cancelar" routerLink="/unidadeHospitalar"></button>
          </div>
          <div class="ui-g-12 ui-md-2">
            <button pButton type="submit" label="Salvar" [disabled]="editForm.form.invalid || isSaving" ></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>