<div class="ui-g ui-fluid">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <h1>{{ unidadeHospitalar.id ? 'Editar Unidade de Saúde' : 'Cadastrar Unidade de Saúde' }}</h1>
      <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
        <div class="ui-g form-group">
          <input type="hidden" name="id" pInputText [(ngModel)]="unidadeHospitalar.id" readonly/>
     
          <div class="ui-g">
            <div class="ui-g-12 ui-md-12" style="margin-bottom: 25px">
              <label>Logo</label>
              <span class="md-inputfield">
                <p-fileUpload
                  #fileInput
                  maxFileSize="1048576"
                  chooseLabel="Selecionar arquivo"
                  [showUploadButton]="false"
                  [showCancelButton]="false"
                  name="logo"
                  (onSelect)="uploadFile($event)" 
                  accept="image/*" >
                </p-fileUpload>
              </span>
            </div>
          </div>
          <div class="ui-g-12 ui-md-3" *ngIf="unidadeHospitalar.logoContentType != null">
              <span class="md-inputfield">
                <img src="data:{{unidadeHospitalar.logoContentType}};base64,{{unidadeHospitalar.logo}}" style="max-width: 75px; max-height: 75px; margin-top: 10%;">
              </span>
          </div>
          <div class="ui-g-12 ui-md-6"></div>
          <div class="ui-g-12 ui-md-6">
            <span class="md-inputfield">
              <input type="text" name="sigla" [(ngModel)]="unidadeHospitalar.sigla" pInputText maxlength="10" required/>
              <label>Sigla *</label>
              <div *ngIf="editForm.controls['sigla'] && !editForm.controls['sigla'].valid && (editForm.controls['sigla'].touched || editForm.submitted)" class="ui-message ui-messages-error">
                Campo obrigatório!
              </div>
            </span>
          </div>
          <div class="ui-g-12 ui-md-6">
            <span class="md-inputfield">
              <input type="text" name="nome" [(ngModel)]="unidadeHospitalar.nome" pInputText maxlength="100" required/>
              <label>Nome *</label>
              <div *ngIf="editForm.controls['nome'] && !editForm.controls['nome'].valid && (editForm.controls['nome'].touched || editForm.submitted)" class="ui-message ui-messages-error">
                Campo obrigatório!
              </div>
            </span>
          </div>
          <div class="ui-g-12 ui-md-6">
            <span class="md-inputfield">
              <input type="text" name="cnpj" [(ngModel)]="unidadeHospitalar.cnpj" pInputText maxlength="18" 
              minlength="14" mask="99.999.999/9999-99" pattern="[0-9]+$" required/>
              <label>CNPJ *</label>
              <div *ngIf="editForm.controls['cnpj'] && !editForm.controls['cnpj'].valid && (editForm.controls['cnpj'].touched || editForm.submitted)" class="ui-message ui-messages-error">
                Campo obrigatório!
              </div>
            </span>
          </div>
          <div class="ui-g-12 ui-md-6">
            <span class="md-inputfield">
              <input type="text" name="endereco" [(ngModel)]="unidadeHospitalar.endereco" pInputText maxlength="200" required/>
              <label>Endereço *</label>
              <div *ngIf="editForm.controls['endereco'] && !editForm.controls['endereco'].valid && (editForm.controls['endereco'].touched || editForm.submitted)" class="ui-message ui-messages-error">
                Campo obrigatório!
              </div>
            </span>
          </div>
          <div class="ui-g-12 ui-md-6">
              <div class="ui-g">
                <div class="ui-g-12 ui-md-2">
                  <label>Ativo</label>
              </div>
              <div class="ui-g-12 ui-md-2">
                <p-radioButton name="ativo" [value]="true" label="Sim" [(ngModel)]="unidadeHospitalar.ativo"></p-radioButton>
              </div>
              <div class="ui-g-12 ui-md-2">
                <p-radioButton name="ativo" [value]="false" label="Não" [(ngModel)]="unidadeHospitalar.ativo"></p-radioButton>
              </div>
            </div>
          </div>
        </div>
        <div class="ui-g">
          <div class="ui-g-12 ui-md-2">
            <button pButton type="button" label="Cancelar" routerLink="/unidadeHospitalar"></button>
          </div>
          <div class="ui-g-12 ui-md-2">
            <button pButton type="submit" label="Salvar" [disabled]="isSaving" ></button>
          </div>
  
        </div>
      </form>
    </div>
  </div>
</div>