<div class="ui-g ui-fluid">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <h1>{{ unidadeHospitalar.id ? 'Editar Unidade Hospitalar' : 'Cadastrar Unidade Hospitalar' }}</h1>
      <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
        <div class="ui-g form-group">
          <input type="hidden" name="id" pInputText [(ngModel)]="unidadeHospitalar.id" readonly/>
          <div class="ui-g-12 ui-md-6">
            <span class="md-inputfield">
       
    
              <h3 class="first">Logo</h3>
              <p-fileUpload name="logo" url="" (onUpload)="onUpload($event)" 
                      accept="image/*" maxFileSize="1000000">
                  <ng-template pTemplate="content">
                      <ul *ngIf="uploadedFiles.length">
                          <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                      </ul>
                  </ng-template>        
              </p-fileUpload>
                </span>
          </div>
          <div class="ui-g-12 ui-md-6"></div>
          <div class="ui-g-12 ui-md-6">
            <span class="md-inputfield">
              <input type="text" name="sigla" [(ngModel)]="unidadeHospitalar.sigla" pInputText maxlength="10" required/>
              <label>Sigla</label>
            </span>
          </div>
          <div class="ui-g-12 ui-md-6">
            <span class="md-inputfield">
              <input type="text" name="nome" [(ngModel)]="unidadeHospitalar.nome" pInputText maxlength="100" required/>
              <label>Nome</label>
            </span>
          </div>
          <div class="ui-g-12 ui-md-6">
            <span class="md-inputfield">
              <input type="text" name="cnpj" [(ngModel)]="unidadeHospitalar.cnpj" pInputText maxlength="14" minlength="14" pattern="[0-9]+$" required/>
              <label>Cnpj</label>
            </span>
          </div>
          <div class="ui-g-12 ui-md-6">
            <span class="md-inputfield">
              <input type="text" name="endereco" [(ngModel)]="unidadeHospitalar.endereco" pInputText maxlength="200" required/>
              <label>Endereco</label>
            </span>
          </div>
          <div class="ui-g-12 ui-md-6">
              <div class="ui-g">
                <div class="ui-g-12 ui-md-2">
                  <label>Ativo</label>
              </div>
              <div class="ui-g-12 ui-md-2">
                <p-radioButton name="ativo" [value]="true" label="Sim" [(ngModel)]="unidadeHospitalar.ativo" required></p-radioButton>
              </div>
              <div class="ui-g-12 ui-md-2">
                <p-radioButton name="ativo" [value]="false" label="Não" [(ngModel)]="unidadeHospitalar.ativo" required></p-radioButton>
              </div>
            </div>
          </div>
        </div>
        <div class="ui-g">
          <div class="ui-g-12 ui-md-2">
            <button pButton type="button" label="Cancelar" routerLink="/unidadeHospitalar"></button>
          </div>
          <div class="ui-g-12 ui-md-2">
            <button pButton type="submit" label="Salvar" [disabled]="editForm.form.invalid || isSaving" ></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>