<div class="ui-g ui-fluid" *ngIf="unidadeHospitalar">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <h1>Visualizar Unidade Hospitalar</h1>
      <div class="ui-g form-group">
        <div class="ui-g-12 ui-md-6">
          <span class="md-inputfield">
            <input type="text" name="logo" pInputText [ngModel]="unidadeHospitalar.logo" readonly/>
            <label>Logo</label>
          </span>
        </div>
        <div class="ui-g-12 ui-md-6">
          <span class="md-inputfield">
            <input type="text" name="sigla" pInputText [ngModel]="unidadeHospitalar.sigla" readonly/>
            <label>Sigla</label>
          </span>
        </div>
        <div class="ui-g-12 ui-md-6">
          <span class="md-inputfield">
            <input type="text" name="nome" pInputText [ngModel]="unidadeHospitalar.nome" readonly/>
            <label>Nome</label>
          </span>
        </div>
        <div class="ui-g-12 ui-md-6">
          <span class="md-inputfield">
            <input type="text" name="cnpj" pInputText [ngModel]="unidadeHospitalar.cnpj" readonly/>
            <label>Cnpj</label>
          </span>
        </div>
        <div class="ui-g-12 ui-md-6">
          <span class="md-inputfield">
            <input type="text" name="endereco" pInputText [ngModel]="unidadeHospitalar.endereco" readonly/>
            <label>Endereco</label>
          </span>
        </div>
        <div class="ui-g-12 ui-md-6">
          <span class="md-inputfield">
              <input type="text" name="ativo" pInputText [ngModel]="unidadeHospitalar.ativo ? 'Sim' : (unidadeHospitalar.ativo != null ? 'Não' : null)" readonly/>
            <label>Ativo</label>
          </span>
        </div>
      </div>
      <div class="ui-g">
        <div class="ui-g-12 ui-md-2">
          <button pButton type="button" label="Voltar" routerLink="/unidadeHospitalar"></button>
        </div>
      </div>
    </div>
  </div>
</div>