<app-classificacao-de-risco></app-classificacao-de-risco>

<div class="ui-g ui-fluid" [formGroup]="triagemComponent">
    <div class="ui-g-12">
        <div class="ui-g-12">
            <div class="ui-g-12 ui-sm-12">
                <span class="ui-float-label">
                    <input
                        type="text"
                        pTooltip="Informe nome do paciente"
                        pInputText
                        formControlName="nomeDoPaciente"
                    />
                    <label>Nome do Paciente</label>
                </span>
            </div>
        </div>

        <div class="ui-g-12">
            <div class="ui-g-3 ui-sm-12">
                <span class="ui-float-label">
                    <input
                        type="text"
                        pTooltip="Informe a Pressão Arterial"
                        pInputText
                        formControlName="pressaoArterial"
                    />
                    <label>Pressão Arterial</label>
                </span>
            </div>

            <div class="ui-g-3 ui-sm-12">
                <span class="ui-float-label">
                    <input
                        type="text"
                        pTooltip="Informe a Frequência Cardíaca"
                        pInputText
                        formControlName="frequenciaCardiaca"
                    />
                    <label>Frequência cardiaca</label>
                </span>
            </div>
            <div class="ui-g-3 ui-sm-12">
                <span class="ui-float-label">
                    <input
                        type="text"
                        pInputText
                        pTooltip="Informe a temperatura paciente"
                        formControlName="temperatura"
                    />
                    <label>Temperatura (C°)</label>
                </span>
            </div>
            <div class="ui-g-3 ui-sm-12">
                <span class="ui-float-label">
                    <input
                        type="text"
                        pInputText
                        pTooltip="Informe o peso paciente"
                        formControlName="peso"
                    />
                    <label>Peso (kg)</label>
                </span>
            </div>
        </div>

        <div class="ui-g-12">
            <div class="ui-g-6 ui-sm-12">
                <span class="ui-float-label">
                    <input
                        type="text"
                        pInputText
                        pTooltip="Informe os sintomas paciente"
                        formControlName="sinaisSintomas"
                    />
                    <label>Sinais/Sintomas</label>
                </span>
            </div>
            <div class="ui-g-2 ui-sm-12">
                <span class="ui-float-label">
                    <input type="text" pInputText formControlName="horaDoAtendimento" />
                    <label>Hora do atendimento</label>
                </span>
            </div>
            <div class="ui-g-2 ui-sm-12">
                <span class="ui-float-label">
                    <input type="text" pInputText formControlName="dataDoAtendimento" />
                    <label>Data do atendimento</label>
                </span>
            </div>
            <div class="ui-g-2 ui-sm-12">
                <span class="ui-float-label">
                    <input type="text" pInputText formControlName="idade" />
                    <label>Idade</label>
                </span>
            </div>
        </div>

        <div class="ui-g-12">
            <div class="ui-g-12 ui-sm-12">
                <span class="ui-float-label">
                    <input type="text" pInputText formControlName="descricaoQueixa" />
                    <label>Descrição/Queixa</label>
                </span>
            </div>
        </div>

        <div class="ui-g-12">
            <div class="ui-g-3 ui-sm-12">
                <legend>Vítima de acidente</legend>
                <label>Sim</label>
                <input formControlName="vitimaDeAcidente" type="radio" value="acd1" />

                <label>Não</label>
                <input formControlName="vitimaDeAcidente" type="radio" value="acd2" />
            </div>
            <div class="ui-g-3 ui-sm-12">
                <legend>Removido de Ambulância</legend>
                <label>Sim</label>
                <input formControlName="removidoDeAmbulancia" type="radio" value="amb1" />

                <label>Não</label>
                <input formControlName="removidoDeAmbulancia" type="radio" value="amb2" />
            </div>
        </div>

        <div class="ui-g-12">
            <div class="ui-g-12 ui-sm-12">
                <span class="ui-float-label">
                    <input
                        type="text"
                        pInputText
                        formControlName="observacao"
                        pTooltip="Informe as observações"
                    />
                    <label>Observação</label>
                </span>
            </div>
        </div>

        <div class="ui-g-12">
            <div class="ui-g-10 ui-sm-10">
                <div class="ui-float-label">
                    <div class="ui-g-3">
                        <button
                            pButton
                            type="button"
                            label="Cancelar"
                            bTooltip="Cancelar registro de triagem."
                        ></button>
                    </div>
                </div>
                <div class="ui-g-3">
                    <button
                        pButton
                        type="button"
                        label="Salvar"
                        bTooltip="Salvar registro de triagem."
                    ></button>
                </div>
            </div>
        </div>
    </div>
</div>
