<div class="p-col-12 p-grid">
    <div class="p-md-2 p-fluid">
        <span><b>Grade de Exame</b>: {{grade.id}} </span>
    </div>
    <div class="p-md-2 p-fluid">
        <span><b>Unidade Executora</b>: {{grade.unidadeExecutoraNome}} </span>
    </div>
    <div class="p-md-2 p-fluid">
        <span><b>Grupo</b>: {{grade.grupoGradeNome}} </span>
    </div>
</div>

<div class="p-col-12 p-grid">

    <div class="p-md-2 p-fluid">
        Dia
        <span class="md-inputfield p-float-label sm-top-margin">
            <p-dropdown [options]="dia" [showClear]="true" placeholder="Selecione"
                [resetFilterOnHide]="true" [(ngModel)]="diaSelecionado">
            </p-dropdown>
        </span>
    </div>

    <div class="p-md-2 p-fluid">
        Tipo de marcação
        <span class="md-inputfield p-float-label sm-top-margin">
            <p-dropdown [options]="tiposDeMarcacao" [optionLabel]="'tipoDeMarcacao'" 
                [optionValue]="'id'" [filter]="true" placeholder="Selecione"
                [resetFilterOnHide]="true" [showClear]="true">
            </p-dropdown>
        </span>
    </div>

    <div class="p-md-2 p-fluid" [formGroup]="agendarHorario">
        Ativo
        <div class="sm-top-margin mid-bottom-margin">
            <p-radioButton name="ativo" value="true" label="Sim" class="separator-radio" 
            formControlName="ativo"></p-radioButton>
            <p-radioButton name="ativo" value="false" label="Não" class="separator-radio" 
            formControlName="ativo"></p-radioButton>
            
        </div>
    </div> 

    <div class="p-md-2 p-fluid" [formGroup]="agendarHorario">
        Exclusivo
        <div class="sm-top-margin mid-bottom-margin">
            <p-radioButton name="exclusivo" value="true" label="Sim" class="separator-radio" 
            formControlName="exclusivo"></p-radioButton>
            <p-radioButton name="exclusivo" value="false" label="Não" class="separator-radio" 
            formControlName="exclusivo"></p-radioButton>
        </div>
    </div>   
    
</div>

<div class="p-col-12 p-grid">

    <div class="p-md-2 p-fluid sm-top-margin">
        Horário início
        <p-calendar [(ngModel)]="horaInicio" [timeOnly]="true" [stepMinute]="5"
        inputId="horarioInicio" [defaultDate]="horaPadrao">
        </p-calendar>
    </div> 

    <div class="p-md-2 p-fluid sm-top-margin">
        Horário fim
        <p-calendar [(ngModel)]="horaFim" [timeOnly]="true" [stepMinute]="5"
        inputId="horarioFim" [defaultDate]="horaPadrao">
        </p-calendar>
    </div>

    <div class="p-md-2 p-fluid sm-top-margin" [formGroup]="agendarHorario">
        Duração
        <p-calendar [(ngModel)]="duracao" [timeOnly]="true" inputId="duracao"
        formControlName="duracao" [defaultDate]="duracaoPadrao" [stepMinute]="5">
        </p-calendar>
    </div>

    <div class="p-md-2 p-fluid sm-top-margin" [formGroup]="agendarHorario">
        Nº de horários
        <span class="md-inputfield p-float-label">
            <input type="number" [(ngModel)]="numeroDeHorarios" formControlName="numeroDeHorarios" pInputText>
        </span>
    </div>
    
</div>


<div class="p-col-12 p-grid p-d-flex">
    
    <div class="p-md-2 p-sm-12">
        <button
            pButton type="button" icon="pi pi-check" 
            (click)="agendarHorarioGrade()"
            label="Gerar"
        ></button>
    </div>
    <div class="p-md-2 p-sm-12">
        <button
            pButton type="button"
            label="Limpar" icon="pi pi-times"
            (click)="limparFormulario()"
        ></button>
    </div>
    <div class="p-md-2 p-sm-12">
        <button
            pButton type="button" label="Voltar"
            routerLink="/listar-grade-exame"
        ></button>
    </div>
</div>

<app-tabela-horarios-agendados #appTabelaHorarios></app-tabela-horarios-agendados>