<form class="ui-g ui-fluid" #form [formGroup]="formTriagem" (ngSubmit)="cadastrar(form)">
    <div class="ui-g-12">
        <app-classificacao-de-risco [formTriagem]="formTriagem"></app-classificacao-de-risco>
    </div>
    <div class="ui-g-12">
        <div class="ui-g-12">
            <div class="ui-g-12 ui-sm-12">
                <span class="ui-float-label">
                    <input
                        type="text"
                        pTooltip="Informe nome do paciente"
                        pInputText
                        formControlName="paciente"
                    />

                    <label>Nome do Paciente</label>
                </span>
            </div>
        </div>

        <div class="ui-g-12">
            <div class="ui-g-3 ui-sm-12">
                <span class="ui-float-label">
                    <input
                        type="text"
                        pTooltip="Informe a Pressão Arterial"
                        pInputText
                        formControlName="pressaoArterial"
                    />
                    <label>Pressão Arterial (MMHG)</label>
                </span>
            </div>

            <div class="ui-g-3 ui-sm-12">
                <span class="ui-float-label">
                    <input
                        type="text"
                        pTooltip="Informe a Frequência Cardíaca"
                        pInputText
                        formControlName="frequenciaCardiaca"
                    />
                    <label>Frequência cardiaca (BPM)</label>
                </span>
            </div>
            <div class="ui-g-3 ui-sm-12">
                <span class="ui-float-label">
                    <input
                        type="text"
                        pInputText
                        pTooltip="Informe a temperatura paciente"
                        formControlName="temperatura"
                    />
                    <label>Temperatura (C°)</label>
                </span>
            </div>
            <div class="ui-g-3 ui-sm-12">
                <span class="ui-float-label">
                    <input
                        type="text"
                        pInputText
                        pTooltip="Informe o peso paciente"
                        formControlName="peso"
                    />
                    <label>Peso (kg)</label>
                </span>
            </div>
        </div>

        <div class="ui-g-12">
            <div class="ui-g-6 ui-sm-12">
                <span class="ui-float-label">
                    <input
                        type="text"
                        pInputText
                        pTooltip="Informe os sintomas paciente"
                        formControlName="sinaisSintomas"
                    />
                    <label>Sinais/Sintomas</label>
                </span>
            </div>
            <div class="ui-g-4 ui-sm-12">
                <span class="ui-float-label">
                    <p-calendar
                        [locale]="localizacao"
                        dateFormat="dd/mm/yy"
                        monthNavigator="true"
                        yearNavigator="true"
                        formControlName="dataHoraDoAtendimento"
                        showTime="true"
                        hourFormat="24"
                    ></p-calendar>
                    <label>Data e hora do atendimento</label>
                </span>
            </div>

            <div class="ui-g-2 ui-sm-12">
                <span class="ui-float-label">
                    <input type="text" pInputText formControlName="idade" />
                    <label>Idade</label>
                </span>
            </div>
        </div>

        <div class="ui-g-12">
            <div class="ui-g-12 ui-sm-12">
                <span class="ui-float-label">
                    <input type="text" pInputText formControlName="descricaoQueixa" />
                    <label>Descrição/Queixa</label>
                </span>
            </div>
        </div>

        <div class="ui-g-12">
            <div class="ui-g-3 ui-sm-12">
                <legend>Vítima de acidente</legend>

                <label class="radioBtn">Sim</label>
                <p-radioButton
                    name="vitimaDeAcidente"
                    formControlName="vitimaDeAcidente"
                    type="radio"
                    value="true"
                    pRadioButton
                ></p-radioButton>

                <label class="radioBtn">Não</label>
                <p-radioButton
                    name="vitimaDeAcidente"
                    formControlName="vitimaDeAcidente"
                    type="radio"
                    value="false"
                    pRadioButton
                ></p-radioButton>
            </div>
            <div class="ui-g-3 ui-sm-12">
                <legend>Removido de Ambulância</legend>
                <label class="radioBtn">Sim</label>
                <p-radioButton
                    name="removidoDeAmbulancia"
                    formControlName="removidoDeAmbulancia"
                    type="radio"
                    value="true"
                ></p-radioButton>

                <label class="radioBtn">Não</label>
                <p-radioButton
                    name="removidoDeAmbulancia"
                    formControlName="removidoDeAmbulancia"
                    type="radio"
                    value="false"
                ></p-radioButton>
            </div>
        </div>

        <div class="ui-g-12">
            <div class="ui-g-12 ui-sm-12">
                <span class="ui-float-label">
                    <input
                        type="text"
                        pInputText
                        formControlName="observacao"
                        pTooltip="Informe as observações"
                    />
                    <label>Observação</label>
                </span>
            </div>
        </div>

        <div class="ui-g-12">
            <div class="ui-g-12 ui-sm-12">
                <div class="ui-float-label">
                    <div class="ui-g-3"></div>
                    <div class="ui-g-3">
                        <button
                            pButton
                            type="button"
                            label="Cancelar"
                            bTooltip="Cancelar registro de triagem."
                        ></button>
                    </div>

                    <div class="ui-g-3">
                        <button
                            pButton
                            type="submit"
                            label="Salvar"
                            bTooltip="Salvar registro de triagem."
                        ></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
