<div [formGroup]="endereco">
    <div class="ui-g ui-fluid">
        <div class="ui-g-12">
            <div class="ui-g-5 ui-sm-12">
                <span class="ui-float-label">
                    <div
                        nAutoComplete
                        [service]="municipioService"
                        field="nome"
                        formControlName="municipioId"
                        label="Município"
                    ></div>
                </span>
            </div>
            <div class="ui-g-5 ui-sm-12">
                <span class="ui-float-label">
                    <p-inputMask
                        placeholder="__.___-___"
                        mask="99.999-999"
                        formControlName="cep"
                        pTooltip="Informe o CEP."
                    ></p-inputMask>
                    <label>CEP</label>
                </span>
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-2 ui-sm-12">
                <span class="ui-float-label">
                    <input pInputText [disabled]="true" />
                    <label>UF</label>
                </span>
            </div>
            <div class="ui-g-4 ui-sm-12">
                <span class="ui-float-label">
                    <input
                        pInputText
                        type="text"
                        formControlName="logradouro"
                        pTooltip="Informe o logradouro."
                    />
                    <Label>Logradouro</Label>
                </span>
            </div>
            <div class="ui-g-4">
                <span class="ui-float-label">
                    <p-dropdown
                        [options]="opcoesDeTipoDeEndereco"
                        formControlName="tipoDoEndereco"
                    ></p-dropdown>
                    <label>Tipo de Endereço</label>
                </span>
            </div>
        </div>
        <div class="ui-g-12 ui-fluid">
            <div class="ui-g-3">
                <span class="ui-float-label">
                    <input
                        pInputText
                        type="text"
                        formControlName="numero"
                        pTooltip="Informe o Numero."
                    />
                    <Label>Número</Label>
                </span>
            </div>
            <div class="ui-g-4">
                <span class="ui-float-label">
                    <input
                        pInputText
                        type="text"
                        formControlName="complemento"
                        pTooltip="Informe o Complemento."
                    />
                    <label>Complemento</label>
                </span>
            </div>
            <div class="ui-g-3">
                <span class="ui-float-label">
                    <input
                        pInputText
                        type="text"
                        formControlName="bairro"
                        pTooltip="Informe o Bairro."
                    />
                    <label>Bairro</label>
                </span>
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-1">
                <label>Correspondência?</label>
            </div>
            <div class="ui-g-1">
                <p-radioButton
                    id="sim"
                    type="radio"
                    value="true"
                    name="correspondencia"
                    formControlName="correspondencia"
                    pRadioButton
                >
                </p-radioButton>
                <label>Sim</label>
            </div>

            <div class="ui-g-1">
                <p-radioButton
                    id="nao"
                    type="radio"
                    value="false"
                    name="correspondencia"
                    formControlName="correspondencia"
                    pRadioButton
                >
                </p-radioButton>
                <label>Não</label>
            </div>
        </div>
        <p-button
            label="Adicionar"
            type="button"
            [disabled]="endereco.invalid"
            (onClick)="adicionarEnderecoALista()"
        ></p-button>
        <basis-datatable type="memory" [value]="enderecos.value">
            <p-column header="Município" field="municipioId">
                <ng-template let-col="col" let-rowData="rowData" pTemplate="body">
                    <span> {{ rowData[col.field].nome }}</span>
                </ng-template>
            </p-column>
            <p-column header="CEP" field="cep"></p-column>
            <p-column header="UF" field="municipio.ufId"></p-column>
            <p-column header="Bairro" field="bairro"></p-column>
            <p-column header="Tipo" field="tipoDoEndereco"></p-column>
            <p-column header="Correspondência" field="correspondencia"></p-column>
        </basis-datatable>
    </div>
</div>
