.ui-red-button {
    background-color: red;
    border-radius: 12px;
    width: 60px;
}
.ui-orange-button {
    background-color: orange;
    border-radius: 12px;
    width: 60px;
}
.ui-yellow-button {
    background-color: yellow;
    border-radius: 12px;
    width: 60px;
}
.ui-green-button {
    background-color: green;
    border-radius: 12px;
    width: 60px;
}
.ui-blue-button {
    background-color: blue;
    border-radius: 12px;
    width: 60px;
}

button {
    margin-right: 10px;
}
p-radioButton {
    margin-right: 42px;
}
.botoes {
    text-align: right;
}
.radio {
    text-align: right;
}
