<div class="p-col-12 p-grid p-fluid">
    <form autocomplete="off" (ngSubmit)="prescrever()">
        <p-accordion>
            <p-accordionTab [selected]="true" header="Dados Gerais">
                <form [formGroup]="prescricaoDiagnostico">
                    <div class="p-grid">
                        <div class="p-col-12 p-grid">
                            <div class="p-md-6">
                                <span class="md-inputfield p-float-label">
                                    <input formControlName="nome" type="text" pInputText disabled />
                                    <label>Paciente</label>
                                </span>
                            </div>
                            <div class="p-md-6">
                                <span class="md-inputfield p-float-label">
                                    <p-calendar formControlName="dataPrescricao" dateFormat="dd/mm/yy" disabled="true">
                                    </p-calendar>
                                    <label>Data Prescrição</label>
                                </span>
                            </div>
                        </div>

                        <div class="p-col-12 p-grid">
                            <div class="p-md-12">
                                <span class="md-inputfield p-float-label">
                                    <textarea [rows]="6" [cols]="30" pInputTextarea autoResize="autoResize"
                                        id="observacao" formControlName="observacao"></textarea>
                                    <label>Observações</label>
                                </span>
                            </div>
                        </div>

                    </div>
                </form>
            </p-accordionTab>

            <p-accordionTab header="Itens Diagnóstico" [selected]="true">
                <form [formGroup]="itemPrescricaoDiagnostico" (ngSubmit)="incluirItem()">
                    <div class="p-col-12 p-grid">
                        <div class="p-md-8">
                            <app-cid [parentFormGroup]="itemPrescricaoDiagnostico" [required]="true" [showTree]="true"
                                name="idCid" label="CID">
                            </app-cid>
                        </div>

                        <div class="p-col-12 p-grid">
                            <div class="p-md-12">
                                <span class="md-inputfield p-float-label">
                                    <textarea [rows]="6" [cols]="30" pInputTextarea autoResize="autoResize"
                                        formControlName="complemento"></textarea>
                                    <label>Complemento</label>
                                </span>
                            </div>
                        </div>

                        <div class="p-md-6">
                            <button label="Adicionar" pButton name="adicionar-item" type="submit">
                            </button>
                        </div>

                        <div class="p-col-12 p-grid"></div>

                        <div class="p-col-12 p-grid">
                            <basis-datatable [verticalButtons]="false" type="memory" [value]="itensDiagnostico" [disableView]="true"
                                [disableEdit]="true" [disableDelete]="true">
                                <p-column header="CID" field="idCid">
                                    <ng-template let-col="col" let-rowData="rowData" pTemplate="body">
                                        <span>
                                            {{ rowData[col.field] === null || rowData[col.field] === undefined ?
                                            undefined : rowData[col.field].descricao }}</span>
                                    </ng-template>
                                </p-column>
                                <p-column header="Complemento" field="complemento"></p-column>

                            </basis-datatable>
                        </div>

                    </div>
                </form>
            </p-accordionTab>
        </p-accordion>

        <div class="p-col-12 p-grid">
            <div class="p-md-6 p-pl-0">
                <button pButton type="submit" label="Prescrever"></button>
            </div>
        </div>
    </form>
</div>