<div class="ui-g ui-fluid">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <h1>{{ paciente.id ? 'Editar Paciente' : 'Incluir Paciente' }}</h1>
      <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
        <div class="ui-g form-group">
          <input type="hidden" name="id" pInputText [(ngModel)]="paciente.id" readonly/>
          <div class="ui-g-12 ui-md-6">
            <span class="md-inputfield">
              <input type="text" name="rg" [(ngModel)]="paciente.rg" pInputText/>
              <label>Rg</label>
            </span>
          </div>
          <div class="ui-g-12 ui-md-6">
            <span class="md-inputfield">
              <input type="text" name="cpf" [(ngModel)]="paciente.cpf" pInputText/>
              <label>Cpf</label>
            </span>
          </div>
          <div class="ui-g-12 ui-md-6">
            <span class="md-inputfield">
              <input type="text" name="sexo" [(ngModel)]="paciente.sexo" pInputText/>
              <label>Sexo</label>
            </span>
          </div>
          <div class="ui-g-12 ui-md-6">
            <span class="md-inputfield">
              <p-calendar name="dataNascimento" [(ngModel)]="paciente.dataNascimento" dateFormat="dd/mm/yy"></p-calendar>
              <label>Data Nascimento</label>
            </span>
          </div>
          <div class="ui-g-12 ui-md-6">
            <span class="md-inputfield">
              <input type="text" name="cep" [(ngModel)]="paciente.cep" pInputText/>
              <label>Cep</label>
            </span>
          </div>
          <div class="ui-g-12 ui-md-6">
            <span class="md-inputfield">
              <input type="text" name="prontuario" [(ngModel)]="paciente.prontuario" pInputText/>
              <label>Prontuario</label>
            </span>
          </div>
          <div class="ui-g-12 ui-md-6">
            <span class="md-inputfield">
              <input type="text" name="nomePaciente" [(ngModel)]="paciente.nomePaciente" pInputText/>
              <label>Nome Paciente</label>
            </span>
          </div>
          <div class="ui-g-12 ui-md-6">
            <span class="md-inputfield">
              <input type="text" name="nomeSocial" [(ngModel)]="paciente.nomeSocial" pInputText/>
              <label>Nome Social</label>
            </span>
          </div>
          <div class="ui-g-12 ui-md-6">
            <span class="md-inputfield">
              <input type="text" name="racaCor" [(ngModel)]="paciente.racaCor" pInputText/>
              <label>Raca Cor</label>
            </span>
          </div>
          <div class="ui-g-12 ui-md-6">
            <span class="md-inputfield">
              <input type="text" name="estadoCivil" [(ngModel)]="paciente.estadoCivil" pInputText/>
              <label>Estado Civil</label>
            </span>
          </div>
          <div class="ui-g-12 ui-md-6">
            <span class="md-inputfield">
              <input type="text" name="nomePai" [(ngModel)]="paciente.nomePai" pInputText/>
              <label>Nome Pai</label>
            </span>
          </div>
          <div class="ui-g-12 ui-md-6">
            <span class="md-inputfield">
              <input type="text" name="nomeMae" [(ngModel)]="paciente.nomeMae" pInputText/>
              <label>Nome Mae</label>
            </span>
          </div>
          <div class="ui-g-12 ui-md-6">
            <span class="md-inputfield">
              <input type="text" name="nacionalidade" [(ngModel)]="paciente.nacionalidade" pInputText/>
              <label>Nacionalidade</label>
            </span>
          </div>
          <div class="ui-g-12 ui-md-6">
            <span class="md-inputfield">
              <input type="text" name="cartaoSus" [(ngModel)]="paciente.cartaoSus" pInputText/>
              <label>Cartao Sus</label>
            </span>
          </div>
          <div class="ui-g-12 ui-md-6">
            <span class="md-inputfield">
              <input type="text" name="endereco" [(ngModel)]="paciente.endereco" pInputText/>
              <label>Endereco</label>
            </span>
          </div>
          <div class="ui-g-12 ui-md-6">
            <span class="md-inputfield">
              <input type="text" name="complemento" [(ngModel)]="paciente.complemento" pInputText/>
              <label>Complemento</label>
            </span>
          </div>
          <div class="ui-g-12 ui-md-6">
            <span class="md-inputfield">
              <input type="text" name="bairro" [(ngModel)]="paciente.bairro" pInputText/>
              <label>Bairro</label>
            </span>
          </div>
          <div class="ui-g-12 ui-md-6">
            <span class="md-inputfield">
              <input type="text" name="cidade" [(ngModel)]="paciente.cidade" pInputText/>
              <label>Cidade</label>
            </span>
          </div>
          <div class="ui-g-12 ui-md-6">
            <span class="md-inputfield">
              <input type="text" name="estado" [(ngModel)]="paciente.estado" pInputText/>
              <label>Estado</label>
            </span>
          </div>
        </div>
        <div class="ui-g">
          <div class="ui-g-12 ui-md-2">
            <button pButton type="button" label="Cancelar" routerLink="/paciente"></button>
          </div>
          <div class="ui-g-12 ui-md-2">
            <button pButton type="submit" label="Salvar" [disabled]="editForm.form.invalid || isSaving" ></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>