<div class="p-col-12 card card-w-title">
    <h1>Manter Grade de Agendamento</h1>
    <p-tabView>
        <p-tabPanel header="Grade de Agendamento">
            <app-formulario-grade-de-agendamento
                [grade]="grade"
                (gradeSalva)="onGradeSalva($event)"
            ></app-formulario-grade-de-agendamento>
        </p-tabPanel>

        <p-tabPanel *ngIf="grade.id !== undefined" header="Horários">
            <app-lista-horarios [grade]="grade"></app-lista-horarios>
        </p-tabPanel>
    </p-tabView>
</div>
