<div class="p-col-12 card card-w-title">
    <h1>
      Manter Grade de Agendamento
    </h1>
    <p-tabView>
        <p-tabPanel header="Grade de Agendamento">
            <app-formulario-grade-de-agendamento [grade]="grade" (gradeSalva)="onGradeSalva($event)"></app-formulario-grade-de-agendamento>
        </p-tabPanel>

        <p-tabPanel header="Horários Agendados">
            <app-formulario-horarios-agendados [grade]="grade"></app-formulario-horarios-agendados>
        </p-tabPanel>

    </p-tabView>
</div>
