<div class="ui-g p-fluid">
    <div class="p-g-12">
        <div class="card card-w-title">
            <h1>Gerar Requisição de Materiais</h1>
            <div class="ui-g">
                <div class="p-g-12">
                    <form [formGroup]="requisicaoForm">
                        <div class="p-g-12">
                            <div class="ui-g-4">
                                <span class="md-inputfield" style="margin-top: 5px;">
                                    <p-autoComplete
                                        [suggestions]="centros"
                                        (completeMethod)="obterCentrosPorDescricao($event.query)"
                                        [forceSelection]="true"
                                        [dropdown]="true"
                                        formControlName="caRequisitanteId"
                                        field="descricao"
                                    ></p-autoComplete>
                                    <label>CA Requisição</label>
                                </span>
                            </div>
                            <div class="ui-g-4">
                                <span class="md-inputfield" style="margin-top: 5px;">
                                    <p-autoComplete
                                        [suggestions]="centros"
                                        (completeMethod)="obterCentrosPorDescricao($event.query)"
                                        [forceSelection]="true"
                                        [dropdown]="true"
                                        formControlName="caAplicacaoId"
                                        field="descricao"
                                    ></p-autoComplete>
                                    <label>CA Aplicação</label>
                                </span>
                            </div>
                        </div>
                        <div class="p-g-12">
                            <div class="ui-g-4">
                                <span class="md-inputfield" style="margin-top: 5px;">
                                    <p-autoComplete
                                        [suggestions]="almoxarifados"
                                        (completeMethod)="
                                            obterAlmoxarifadoPorDescricao($event.query)
                                        "
                                        [forceSelection]="true"
                                        [dropdown]="true"
                                        formControlName="almoxarifadoId"
                                        field="descricao"
                                    ></p-autoComplete>
                                    <label>Almoxarifado</label>
                                </span>
                            </div>
                            <div class="ui-g-4">
                                <span class="md-inputfield" style="margin-top: 5px;">
                                    <p-autoComplete
                                        [suggestions]="grupos"
                                        (completeMethod)="obterGruposPorDescricao($event.query)"
                                        [forceSelection]="true"
                                        [dropdown]="true"
                                        formControlName="grupoMaterialId"
                                        field="descricao"
                                    ></p-autoComplete>
                                    <label>Grupo Material</label>
                                </span>
                            </div>
                        </div>
                        <div class="p-g-12">
                            <div class="ui-g-4">
                                <button
                                    pButton
                                    label="Salvar"
                                    (click)="salvar()"
                                    [disabled]="requisicaoForm.invalid || itens.length === 0"
                                ></button>
                            </div>
                        </div>
                        <div class="p-g-12">
                            <p-fieldset legend="Itens">
                                <div class="p-g-12">
                                    <form [formGroup]="itemForm">
                                        <div class="ui-g-4">
                                            <span class="md-inputfield" style="margin-top: 5px;">
                                                <p-autoComplete
                                                    [suggestions]="materiais"
                                                    (completeMethod)="
                                                        obterMateriaisPorNome($event.query)
                                                    "
                                                    [forceSelection]="true"
                                                    [dropdown]="true"
                                                    formControlName="material"
                                                    field="nome"
                                                ></p-autoComplete>
                                                <label>Material</label>
                                            </span>
                                        </div>
                                        <div class="ui-g-2">
                                            <span class="md-inputfield" style="margin-top: 5px;">
                                                <input
                                                    type="number"
                                                    pInputText
                                                    min="0"
                                                    formControlName="quantidade"
                                                />
                                                <label>Quantidade</label>
                                            </span>
                                        </div>
                                        <div class="ui-g-2">
                                            <button
                                                pButton
                                                label="Adicionar"
                                                (click)="adicionarItem()"
                                                [disabled]="itemForm.invalid"
                                            ></button>
                                        </div>
                                    </form>
                                </div>
                                <div class="p-g-12">
                                    <basis-datatable
                                        type="memory"
                                        [value]="itens"
                                        [disableView]="true"
                                        [disableEdit]="true"
                                        [disableDelete]="true"
                                    >
                                        <p-column header="Material">
                                            <ng-template let-data="rowData" pTemplate="body">
                                                {{ data?.material?.nome }}
                                            </ng-template>
                                        </p-column>
                                        <p-column header="Quantidade">
                                            <ng-template let-data="rowData" pTemplate="body">
                                                {{ data?.quantidade }}
                                            </ng-template>
                                        </p-column>
                                    </basis-datatable>
                                </div>
                            </p-fieldset>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
