<div class="ui-g ui-fluid">
    <div class="ui-g-12">
        <div class="card card-w-title">
            <h1>Requisições de Materiais</h1>
            <div class="ui-g">
                <div class="ui-g-12 ui-md-12 ui-fluid">
                    <span class="md-inputfield" style="margin-top: 5px;">
                        <input type="text" pInputText class="ui-inputtext" />
                        <label>Requisição</label>
                    </span>
                </div>
                <div class="ui-g-12">
                    <div class="ui-g-2"></div>
                    <div class="ui-g-3">
                        <button
                            pButton
                            type="button"
                            label="Pesquisar"
                            icon="ui-icon-search"
                        ></button>
                    </div>
                    <div class="ui-g-3">
                        <button
                            pButton
                            type="button"
                            label="Nova Requisição"
                            [routerLink]="['/requisicoes-materiais/nova']"
                            icon="ui-icon-add"
                        ></button>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-3"></div>
                <basis-datatable
                    type="memory"
                    [disableDelete]="false"
                    [disableEdit]="true"
                    [disableView]="true"
                    #datatable
                >
                    <!-- <p-column header="Gerado Em" field=""> </p-column>
                    <p-column header="CA Requisição" field=""> </p-column>
                    <p-column header="CA Requisição" field=""> </p-column>
                    <p-column header="Situação" field=""> </p-column>
                    <p-column header="Gerado Por" field=""> </p-column> -->
                </basis-datatable>
            </div>
        </div>
    </div>
</div>
