<div class="ui-g ui-fluid" *ngIf="triagem">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <h1>Visualizar Triagem</h1>
      <div class="ui-g form-group">
        <div class="ui-g-12 ui-md-6">
          <span class="md-inputfield">
            <input type="text" name="dataAtendimento" pInputText [ngModel]="triagem.dataAtendimento|date:'dd/MM/y'" readonly/>
            <label>Data Atendimento</label>
          </span>
        </div>
        <div class="ui-g-12 ui-md-6">
          <span class="md-inputfield">
            <input type="text" name="pressaoArterial" pInputText [ngModel]="triagem.pressaoArterial" readonly/>
            <label>Pressao Arterial</label>
          </span>
        </div>
        <div class="ui-g-12 ui-md-6">
          <span class="md-inputfield">
            <input type="text" name="frequenciaRespiratoria" pInputText [ngModel]="triagem.frequenciaRespiratoria" readonly/>
            <label>Frequencia Respiratoria</label>
          </span>
        </div>
        <div class="ui-g-12 ui-md-6">
          <span class="md-inputfield">
            <input type="text" name="temperatura" pInputText [ngModel]="triagem.temperatura" readonly/>
            <label>Temperatura</label>
          </span>
        </div>
        <div class="ui-g-12 ui-md-6">
          <span class="md-inputfield">
            <input type="text" name="peso" pInputText [ngModel]="triagem.peso" readonly/>
            <label>Peso</label>
          </span>
        </div>
        <div class="ui-g-12 ui-md-6">
          <span class="md-inputfield">
            <input type="text" name="horaAtendimento" pInputText [ngModel]="triagem.horaAtendimento" readonly/>
            <label>Hora Atendimento</label>
          </span>
        </div>
        <div class="ui-g-12 ui-md-6">
          <span class="md-inputfield">
            <input type="text" name="frequenciaCardiaca" pInputText [ngModel]="triagem.frequenciaCardiaca" readonly/>
            <label>Frequencia Cardiaca</label>
          </span>
        </div>
        <div class="ui-g-12 ui-md-6">
          <span class="md-inputfield">
            <input type="text" name="glicemia" pInputText [ngModel]="triagem.glicemia" readonly/>
            <label>Glicemia</label>
          </span>
        </div>
        <div class="ui-g-12 ui-md-6">
          <span class="md-inputfield">
            <input type="text" name="saturacao" pInputText [ngModel]="triagem.saturacao" readonly/>
            <label>Saturacao</label>
          </span>
        </div>
        <div class="ui-g-12 ui-md-6">
          <span class="md-inputfield">
            <input type="text" name="altura" pInputText [ngModel]="triagem.altura" readonly/>
            <label>Altura</label>
          </span>
        </div>
        <div class="ui-g-12 ui-md-6">
          <span class="md-inputfield">
            <input type="text" name="medicacaoContinua" pInputText [ngModel]="triagem.medicacaoContinua" readonly/>
            <label>Medicacao Continua</label>
          </span>
        </div>
        <div class="ui-g-12 ui-md-6">
          <span class="md-inputfield">
            <input type="text" name="feridaLesao" pInputText [ngModel]="triagem.feridaLesao" readonly/>
            <label>Ferida Lesao</label>
          </span>
        </div>
        <div class="ui-g-12 ui-md-6">
          <span class="md-inputfield">
            <input type="text" name="alergias" pInputText [ngModel]="triagem.alergias" readonly/>
            <label>Alergias</label>
          </span>
        </div>
        <div class="ui-g-12 ui-md-6">
          <span class="md-inputfield">
            <input type="text" name="estadoPaciente" pInputText [ngModel]="triagem.estadoPaciente" readonly/>
            <label>Estado Paciente</label>
          </span>
        </div>
        <div class="ui-g-12 ui-md-6">
          <span class="md-inputfield">
            <input type="text" name="sintomaAlerta" pInputText [ngModel]="triagem.sintomaAlerta" readonly/>
            <label>Sintoma Alerta</label>
          </span>
        </div>
        <div class="ui-g-12 ui-md-6">
          <span class="md-inputfield">
            <input type="text" name="historicoSaude" pInputText [ngModel]="triagem.historicoSaude" readonly/>
            <label>Historico Saude</label>
          </span>
        </div>
        <div class="ui-g-12 ui-md-6">
          <span class="md-inputfield">
            <input type="text" name="estadoGeral" pInputText [ngModel]="triagem.estadoGeral" readonly/>
            <label>Estado Geral</label>
          </span>
        </div>
      </div>
      <div class="ui-g">
        <div class="ui-g-12 ui-md-2">
          <button pButton type="button" label="Voltar" routerLink="/triagem"></button>
        </div>
      </div>
    </div>
  </div>
</div>