<div class="ui-g ui-fluid">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <h1>Triagems</h1>
      <div class="ui-g">
        <div class="ui-g-12 ui-md-4">
            <span class="md-inputfield">
              <input type="text" pInputText class="ui-inputtext" #filter/>
              <label>Filtro</label>
            </span>
        </div>
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-12 ui-md-6">
            <button pButton type="button" label="Pesquisar" icon="ui-icon-search" (click)="datatable.refresh(filter.value)"></button>
          </div>
          <div class="ui-g-12 ui-md-6">
            <button pButton type="button" label="Cadastrar" routerLink="/triagem/new" icon="ui-icon-add"></button>
          </div>
        </div>
        <basis-datatable [url]="searchUrl" 
          (buttonClick)="datatableClick($event)" #datatable>
          <p-column header="Data Atendimento" field="dataAtendimento">
            <ng-template let-col let-dataAtendimento="rowData" pTemplate="body">
              {{ dataAtendimento[col.field]|date:'dd/MM/y' }}
            </ng-template>
          </p-column>
          <p-column header="Pressao Arterial" field="pressaoArterial"></p-column>
          <p-column header="Frequencia Respiratoria" field="frequenciaRespiratoria"></p-column>
          <p-column header="Temperatura" field="temperatura"></p-column>
          <p-column header="Peso" field="peso"></p-column>
          <p-column header="Hora Atendimento" field="horaAtendimento"></p-column>
          <p-column header="Frequencia Cardiaca" field="frequenciaCardiaca"></p-column>
          <p-column header="Glicemia" field="glicemia"></p-column>
          <p-column header="Saturacao" field="saturacao"></p-column>
          <p-column header="Altura" field="altura"></p-column>
          <p-column header="Medicacao Continua" field="medicacaoContinua"></p-column>
          <p-column header="Ferida Lesao" field="feridaLesao"></p-column>
          <p-column header="Alergias" field="alergias"></p-column>
          <p-column header="Estado Paciente" field="estadoPaciente"></p-column>
          <p-column header="Sintoma Alerta" field="sintomaAlerta"></p-column>
          <p-column header="Historico Saude" field="historicoSaude"></p-column>
          <p-column header="Estado Geral" field="estadoGeral"></p-column>
        </basis-datatable>
      </div>
    </div>
  </div>
</div>
<p-confirmDialog header="Confirmação" #dialog>
  <p-footer>
    <button type="button" pButton icon="fa-close" label="Não" (click)="dialog.reject()"></button>
    <button type="button" pButton icon="fa-check" label="Sim" (click)="dialog.accept()"></button>
  </p-footer>
</p-confirmDialog>