<div class="ui-g ui-fluid" [formGroup]="endereco">
    <div class="ui-g-12">
        <div nInputText label="CEP" required formControlName="cep" (onBlur)="consultaCEP($event)" class="ui-g-6 ui-sm-12"></div>
        <div class="ui-g-6 ui-sm-12">
            <span class="ui-float-label">
                <p-dropdown
                    (onChange)="aoSelecionarUF()"
                    [options]="ufs"
                    optionLabel="sigla"
                    formControlName="uf"
                    [filter]="true"
                    placeholder="UF"
                    required
                ></p-dropdown>
            </span>
        </div>
    </div>
    <div class="ui-g-12">
        <div class="ui-g-2 ui-sm-12">
            <span class="md-inputfield">
                <p-autoComplete
                    (completeMethod)="searchUnidade($event)"
                    [disabled]="!endereco.value.uf"
                    field="nome"
                    [suggestions]="municipios"
                    [dropdown]="true"
                    formControlName="municipioId"></p-autoComplete>
                <label>Municípios</label>
            </span>
        </div>
        <div nInputText label="Logradouro" formControlName="logradouro" class="ui-g-4 ui-sm-12" required></div>
        <div nDropdown label="Tipo de Endereço" [options]="opcoesDeTipoDeEndereco" required formControlName="tipoDoEndereco" class="ui-g-6 ui-sm-12"></div>
    </div>
    <div class="ui-g-12 ui-fluid">
        <div nInputText label="Número" required formControlName="numero" class="ui-g-3"></div>
        <div nInputText label="Complemento" formControlName="complemento" class="ui-g-4"></div>
        <div nInputText label="Bairro" required formControlName="bairro" class="ui-g-3"></div>
    </div>
    <div class="ui-g-12">
        <div nCheck label="Correspondência?" required formControlName="correspondencia" class="ui-g-9"></div>
    </div>
    <div *ngIf="!endereco.value.indice">
        <p-button
            label="Adicionar"
            [disabled]="endereco.invalid"
            [disabled]="controle ? true : null"
            type="button"
            (onClick)="adicionarEnderecoALista()"></p-button>
    </div>
    <div *ngIf="controle">
        <p-button
        [disabled]="endereco.invalid"
        label="Editar"
        type="button"
        (onClick)="atualizarEdicao()"
        ></p-button>
    </div>
    <basis-datatable type="memory" [disableView]="true" [value]="enderecos.value" (buttonClick)="datatableClick($event)">
        <p-column header="Município" field="municipioId">
            <ng-template let-col="col" let-rowData="rowData" pTemplate="body">
                <span> {{ rowData.municipioId?.nome }}</span>
            </ng-template>
        </p-column>
        <p-column header="CEP" field="cep"></p-column>
        <p-column header="UF" field="uf">
            <ng-template let-col="col" let-rowData="rowData" pTemplate="body">
                <span> {{ rowData.uf?.unidadeFederativa }}</span>
            </ng-template>
        </p-column>
        <p-column header="Bairro" field="bairro"></p-column>
        <p-column header="Tipo" field="tipoDoEndereco"></p-column>
        <p-column header="Correspondência" field="correspondencia">
            <ng-template let-col="col" let-rowData="rowData" pTemplate="body">
                <span> {{ rowData.correspondencia | check }}</span>
            </ng-template>
        </p-column>
    </basis-datatable>
</div>
