<form [formGroup]="formTriagem" class="p-grid p-fluid">
    <div class="p-md-7"></div>
    <h4>Classificação de Risco</h4>
    <div class="p-dataview p-grid p-md-12 p-sm-12">
        <div class="p-md-7">
            <h3>
                <span>{{ formTriagem.value.classificacaoDeRisco | classificaoDeRisco }}</span>
            </h3>
        </div>
        <div class="p-md-1" value="classificacaoDeRisco">
            <div
                class="naoUrgente"
                pTooltip="Sem risco de agravo à saúde, pode aguardar atendimento"
            ></div>
            <div class="p-col-12 p-grid"></div>
            <div>
                <p-radioButton
                    name="classificacaoDeRisco"
                    [value]="opcaoClassificacao[4].value"
                    formControlName="classificacaoDeRisco"
                ></p-radioButton>
            </div>
        </div>

        <div class="p-md-1">
            <div
                class="poucoUrgente"
                pTooltip="Baixo risco de agravo a saúde, pode aguardar atendimento"
            ></div>
            <div class="p-col-12 p-grid"></div>
            <div>
                <p-radioButton
                    name="classificacaoDeRisco"
                    [value]="opcaoClassificacao[3].value"
                    formControlName="classificacaoDeRisco"
                ></p-radioButton>
            </div>
        </div>

        <div class="p-md-1">
            <div
                class="urgente"
                pTooltip="Necessita de atendimento rápido, mas pode aguardar"
            ></div>
            <div class="p-col-12 p-grid"></div>
            <div>
                <p-radioButton
                    name="classificacaoDeRisco"
                    [value]="opcaoClassificacao[2].value"
                    formControlName="classificacaoDeRisco"
                ></p-radioButton>
            </div>
        </div>

        <div class="p-md-1">
            <div
                class="muitoUrgente"
                pTooltip="Necessita de atendimento praticamente imediato"
            ></div>
            <div class="p-col-12 p-grid"></div>
            <div>
                <p-radioButton
                    name="classificacaoDeRisco"
                    [value]="opcaoClassificacao[1].value"
                    formControlName="classificacaoDeRisco"
                ></p-radioButton>
            </div>
        </div>

        <div class="p-md-1">
            <div class="emergencia" pTooltip="Necessita de atendimento imediato"></div>
            <div class="p-col-12 p-grid"></div>
            <div>
                <p-radioButton
                    name="classificacaoDeRisco"
                    [value]="opcaoClassificacao[0].value"
                    formControlName="classificacaoDeRisco"
                ></p-radioButton>
            </div>
        </div>
    </div>
</form>
