p-radioButton {
    margin-left: 15px;
    margin-right: 15px;
}
h4 {
    text-align: center;
}
img {
    height: 50px;
    width: 50px;
}
H3 {
    color: red;
    text-align: right;
    margin-right: 30px;
}

.vermelho {
    background-color: red;
    height: 50px;
    width: 50px;
    border: 2px solid grey;
    border-radius: 10px;
}

.laranja {
    background-color: orange;
    height: 50px;
    width: 50px;
    border: 2px solid grey;
    border-radius: 10px;
}
.amarelo {
    background-color: yellow;
    height: 50px;
    width: 50px;
    border: 2px solid grey;
    border-radius: 10px;
}
.verde {
    background-color: green;
    height: 50px;
    width: 50px;
    border: 2px solid grey;
    border-radius: 10px;
}

.azul {
    background-color: blue;
    height: 50px;
    width: 50px;
    border: 2px solid grey;
    border-radius: 10px;
}
