<form [formGroup]="formTriagem" class="p-grid p-fluid">
    <h2 class="p-md-12 sub-title">Classificação de Risco</h2>
    <div class="classificacao-de-risco">
        <app-nivel-emergencia 
            [control]="formTriagem.controls.classificacaoDeRisco" 
            class="button-triagem" 
            cor="nao-urgente" 
            title="NÃO URGENTE"
            descricao="Sem risco de agravo à saúde, pode aguardar atendimento" 
            [value]="opcaoClassificacao[4].value"
            style="width: 20%;">
        </app-nivel-emergencia>

        <app-nivel-emergencia 
            [control]="formTriagem.controls.classificacaoDeRisco" 
            class="button-triagem" 
            cor="pouco-urgente" 
            title="POUCO URGENTE"
            descricao="Baixo risco de agravo a saúde, pode aguardar atendimento" 
            [value]="opcaoClassificacao[3].value"
            style="width: 20%;">
        </app-nivel-emergencia>

        <app-nivel-emergencia 
            [control]="formTriagem.get('classificacaoDeRisco')" 
            class="button-triagem" 
            cor="urgente" 
            title="URGENTE"
            descricao="Necessita de atendimento rápido, mas pode aguardar" 
            [value]="opcaoClassificacao[2].value"
            style="width: 20%;">
        </app-nivel-emergencia>

        <app-nivel-emergencia 
            [control]="formTriagem.get('classificacaoDeRisco')" 
            class="button-triagem" 
            cor="muito-urgente" 
            title="MUITO URGENTE"
            descricao="Necessita de atendimento praticamente imediato" 
            [value]="opcaoClassificacao[1].value"
            style="width: 20%;">
        </app-nivel-emergencia>

        <app-nivel-emergencia 
            [control]="formTriagem.get('classificacaoDeRisco')" 
            class="button-triagem" 
            cor="emergencia" 
            title="EMERGÊNCIA"
            descricao="Necessita de atendimento imediato" 
            [value]="opcaoClassificacao[0].value"
            style="width: 20%;">
        </app-nivel-emergencia>

    </div>

    <!-- <div class="p-dataview p-grid p-md-12 p-sm-12">
        <div class="p-md-7">
            <h3>
                <span>{{ formTriagem.value.classificacaoDeRisco | classificaoDeRisco }}</span>
            </h3>
        </div>
        <div class="p-md-1" value="classificacaoDeRisco">
            <div
                class="naoUrgente"
                pTooltip="Sem risco de agravo à saúde, pode aguardar atendimento"
            ></div>
            <div class="p-col-12 p-grid"></div>
            <div>
                <p-radioButton
                    name="classificacaoDeRisco"
                    [value]="opcaoClassificacao[4].value"
                    formControlName="classificacaoDeRisco"
                ></p-radioButton>
            </div>
        </div>

        <div class="p-md-1">
            <div
                class="poucoUrgente"
                pTooltip="Baixo risco de agravo a saúde, pode aguardar atendimento"
            ></div>
            <div class="p-col-12 p-grid"></div>
            <div>
                <p-radioButton
                    name="classificacaoDeRisco"
                    [value]="opcaoClassificacao[3].value"
                    formControlName="classificacaoDeRisco"
                ></p-radioButton>
            </div>
        </div>

        <div class="p-md-1">
            <div
                class="urgente"
                pTooltip="Necessita de atendimento rápido, mas pode aguardar"
            ></div>
            <div class="p-col-12 p-grid"></div>
            <div>
                <p-radioButton
                    name="classificacaoDeRisco"
                    [value]="opcaoClassificacao[2].value"
                    formControlName="classificacaoDeRisco"
                ></p-radioButton>
            </div>
        </div>

        <div class="p-md-1">
            <div
                class="muitoUrgente"
                pTooltip="Necessita de atendimento praticamente imediato"
            ></div>
            <div class="p-col-12 p-grid"></div>
            <div>
                <p-radioButton
                    name="classificacaoDeRisco"
                    [value]="opcaoClassificacao[1].value"
                    formControlName="classificacaoDeRisco"
                ></p-radioButton>
            </div>
        </div>

        <div class="p-md-1">
            <div class="emergencia" pTooltip="Necessita de atendimento imediato"></div>
            <div class="p-col-12 p-grid"></div>
            <div>
                <p-radioButton
                    name="classificacaoDeRisco"
                    [value]="opcaoClassificacao[0].value"
                    formControlName="classificacaoDeRisco"
                ></p-radioButton>
            </div>
        </div> 
    </div> -->

</form>