/* You can add global styles to this file, and also import other style files */
.alert {
    padding-top: 7px;
    font-size: .9em;
    color: red;
    animation: 2s alertAnim forwards;
}
.error-required{
    background-color: transparent !important;
    border: 0 none !important;
    margin: 0px !important;
    color: #e62a10 !important;
    font-size: .75em !important; 
}