<div class="p-col-12 card card-w-title">
  <h1>
    Exame
  </h1>
  <p-table [value]="exames" [(selection)]="examesSelecionados" dataKey="id">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th style="text-align: center;">Exame</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-exame>
      <tr>
        <td style="width: 3rem">
          <p-tableCheckbox (click)="teste()" [value]="exame"></p-tableCheckbox>
        </td>
        <td style="text-align: center;">{{exame.nome}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>