<basis-datatable [url]="" [verticalButtons]="false" #datatable
    type="memory" [value]="horariosAgendados">
    <p-column header="Hora início" field="horaInicio">
        <ng-template let-col="col" let-rowData="rowData" pTemplate="body">
            <span>{{rowData[col.field] | date: 'H:mm':'GMT'}}</span>
        </ng-template>
    </p-column>
    <p-column header="Hora fim" field="horaFim">
        <ng-template let-col="col" let-rowData="rowData" pTemplate="body">
            <span>{{rowData[col.field] | date: 'H:mm':'GMT'}}</span>
        </ng-template>
    </p-column>
    <p-column header="Nº horários" field="numeroDeHorarios"></p-column>
    <p-column header="Duração" field="duracao">
        <ng-template let-col="col" let-rowData="rowData" pTemplate="body">
            <span>{{rowData[col.field] | duration}}</span>
        </ng-template>
    </p-column>
    <p-column header="Dia" field="dia">
        <ng-template let-col="col" let-rowData="rowData" pTemplate="body">
            <span>{{rowData[col.field] === 'DOMINGO' ? 'Domingo' : rowData[col.field] === 'SEGUNDA_FEIRA' 
                ? 'Segunda-feira' : rowData[col.field] === 'TERCA_FEIRA' ? 'Terça-feira' :
                rowData[col.field] === 'QUARTA_FEIRA' ? 'Quarta-feira' : 
                rowData[col.field] === 'QUINTA_FEIRA' ? 'Quinta-feira' : 
                rowData[col.field] === 'SEXTA_FEIRA' ? 'Sexta-feira' :
                rowData[col.field] === 'SABADO' ? 'Sábado' : rowData[col.field]}}</span>
        </ng-template>
    </p-column>
    <p-column header="Tipo de marcação" field=""></p-column>
    <p-column header="Situação" field="ativo">
        <ng-template let-col="col" let-rowData="rowData" pTemplate="body">
            <span>{{rowData[col.field] === true ? 'Ativo' : 'Inativo'}}</span>
        </ng-template>
    </p-column>
    <p-column header="Exclusivo" field="exclusivo">
        <ng-template let-col="col" let-rowData="rowData" pTemplate="body">
            <span>{{rowData[col.field] === true ? 'Sim' : 'Não'}}</span>
        </ng-template>
    </p-column>
</basis-datatable>