<!-- Perfis e Permissões HOME -->
<div class="ui-g ui-fluid">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <h1>Perfis e Permissões</h1>
      <div class="ui-g">
        <div class="ui-g-12 ui-md-12">
            <span class="md-inputfield">
              <input type="text" pInputText class="ui-inputtext" [(ngModel)]="elasticQuery.value" 
              (keyup.enter)="valueFiltro(elasticQuery.query)" name="filtro"/>
              <label>Pesquisar</label>
            </span>
        </div>
        <div class="ui-g-12 ui-md-3"></div>
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-12 ui-md-6">
            <button pButton type="button" label="Pesquisar" icon="ui-icon-search" (click)="valueFiltro(elasticQuery.query)"></button>
          </div>
          <div class="ui-g-12 ui-md-6">
            <button pButton type="button" label="Cadastrar" routerLink="/perfil/new" icon="ui-icon-add"></button>
          </div>
        </div>
        <basis-datatable [url]="searchUrl"
          (buttonClick)="datatableClick($event)" #datatable>
          <p-column header="Perfil" field="nomePerfil"></p-column>
          <p-column header="Descrição" field="dsPerfil"></p-column>
        </basis-datatable>
        <div class="ui-g-12 ui-md-11" style="margin-left: 8px;">
          <div class="ui-g-12 ui-md-2" style="float: right">
            <app-botoes-exportacao resourceName="perfil" [query]="valueFiltroCampo">
            </app-botoes-exportacao>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p-confirmDialog header="Confirmação" #dialog>
  <p-footer>
    <button type="button" pButton icon="fa-close" label="Não" (click)="dialog.reject()"></button>
    <button type="button" pButton icon="fa-check" label="Sim" (click)="dialog.accept()"></button>
  </p-footer>
</p-confirmDialog>
