<form [formGroup]="itemPrescricaoProcedimento">
    <div class="ui-g-12">
        <div class="ui-g-6">
            <span class="md-inputfield">
                <p-dropdown placeholder="Selecione..." [filter]="true" InputText [options]="listaOrtesesProteses" formControlName="tipoProcedimentoId"
                    #orteseProtese>
                </p-dropdown>
                <label>Órteses/Próteses</label>
            </span>
        </div>
    </div>

    <div class="ui-g-12">
        <div class="ui-g-6">
            <span class="md-inputfield">
                <input type="number" pInputText formControlName="quantidadeOrteseProtese" />
                <label>Quantidade</label>
            </span>
        </div>
    </div>
</form>

