<div class="ui-g ui-fluid">
    <div class="ui-g-12">
        <p-accordion>
            <p-accordionTab header="Procedimento" [selected]="true">
                <form>
                    <div class="ui-g">
                        <div class="ui-g-12">
                            <div class="ui-g-12">
                                <span class="md-inputfield">
                                    <input name="idPaciente" type="text" pInputText disabled />
                                    <label>Paciente</label>
                                </span>
                            </div>
                        </div>
                        <div class="ui-g-12">
                            <div class="ui-g-12">
                                <span class="md-inputfield">
                                    <textarea [rows]="6" [cols]="30" pInputTextarea autoResize="autoResize"
                                        id="observacao" name="observacao"></textarea>
                                    <label>Observações</label>
                                </span>
                            </div>
                        </div>
                    </div>
                </form>
            </p-accordionTab>

            <p-accordionTab header="Item Procedimento">
                <form>
                    <div class="ui-g">
                        <div class="ui-g-10">
                            <p-selectButton [options]="tipoProcedimento" #tipo></p-selectButton>
                        </div>

                        <app-diversos></app-diversos>

                        <div class="ui-g-12">
                            <div class="ui-g-6">
                                <span class="md-inputfield">
                                    <input type="text" pInputText name="informacoes" />
                                    <label>Informações Complementares</label>
                                </span>
                            </div>
                        </div>

                        <div class="ui-g-12">
                            <div class="ui-g-6">
                                <span class="md-inputfield">
                                    <input type="text" pInputText name="informacoes" />
                                    <label>Justificativa</label>
                                </span>
                            </div>

                            <div class="ui-g-4">
                                <span class="md-inputfield">
                                    <input type="number" pInputText name="justificativa" />
                                    <label>Duração</label>
                                </span>
                            </div>
                        </div>



                    </div>
                </form>
            </p-accordionTab>
        </p-accordion>
    </div>
</div>
