<div [formGroup]="telefone" (ngSubmit)="adicionar()">
    <div class="ui-g ui-fluid">
        <div class="ui-g-12">
            <div class="ui-g-5 ui-sm-12">
                <span class="ui-float-label">
                    <p-inputMask
                        pInputText
                        mask="(99)"
                        type="text"
                        placeholder="(__)"
                        formControlName="ddd"
                        pTooltip="Informe o DDD."
                    ></p-inputMask>
                    <label>DDD</label>
                </span>
                <!-- <p-message
                    severity="error"
                    text="O campo 'DDD' é obrigátorio."
                    *ngIf="telefones.get('ddd').touched && telefones.get('ddd').invalid"
                ></p-message> -->
            </div>
            <div class="ui-g-5 ui-sm-12">
                <span class="ui-float-label">
                    <p-inputMask
                        pInputText
                        placeholder="_ ____-____"
                        mask="9 9999-9999"
                        type="text"
                        formControlName="numero"
                        pTooltip="Informe o telefone."
                    ></p-inputMask>
                    <label>Telefone</label>
                </span>
                <!-- <p-message
                    severity="error"
                    text="O campo 'Telefone' é obrigátorio."
                    *ngIf="telefones.get('telefone').touched && telefones.get('telefone').invalid"
                ></p-message> -->
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-5 ui-sm-12">
                <span class="ui-float-label">
                    <p-dropdown
                        [options]="opcoesDeTipoDeTelefone"
                        formControlName="tipo"
                        filter="true"
                    ></p-dropdown>
                    <label>Tipo de Telefone</label>
                </span>
                <!-- <p-message
                    severity="error"
                    text="O campo 'Tipo de Telefone' é obrigátorio."
                    *ngIf="telefones.get('tipo').touched && telefones.get('tipo').invalid"
                ></p-message> -->
            </div>
            <div class="ui-g-5 ui-sm-12">
                <span class="ui-float-label">
                    <textarea
                        formControlName="observacao"
                        [rows]="3"
                        pInputTextarea
                        autoResize="autoResize"
                        pTooltip="Informe o observação."
                    ></textarea>
                    <label>Observação</label>
                </span>
            </div>
        </div>
        <p-button label="Adicionar" type="button" (onClick)="adicionarTelefoneALista()"></p-button>
        <basis-datatable type="memory" [value]="telefones.value">
            <p-column header="Tipo" field="tipo"></p-column>
            <p-column header="DDD" field="ddd"></p-column>
            <p-column header="Telefone" field="numero"></p-column>
            <p-column header="Observação" field="observacao"></p-column>
        </basis-datatable>
    </div>
</div>
