<div class="ui-g ui-fluid" [formGroup]="dadosPessoais">
    <div class="ui-g-12">
        <div class="ui-g-6 ui-sm-12">
            <span class="md-inputfield" #notification form-notification name="nome">
                <input
                    type="text"
                    pInputText
                    [ngClass]="{ 'ng-invalid ng-dirty': notification.message }"
                    pTooltip="Digite o nome do paciente."
                    formControlName="nome"
                />
                <label>Nome Completo</label>
                <nValidationMessage
                    [control]="nome"
                    **ngIf="!notification.message"
                ></nValidationMessage>
            </span>
        </div>
        <div class="ui-g-6 ui-sm-12">
            <span class="ui-float-label">
                <input
                    type="text"
                    pInputText
                    pTooltip="Digite o nome social do paciente."
                    formControlName="nomeSocial"
                />
                <label>Nome Social</label>
            </span>
        </div>
    </div>
    <div class="ui-g-12">
        <div class="ui-g-3 ui-sm-12">
            <span class="ui-float-label">
                <p-dropdown [options]="opcoesDeSexo" formControlName="sexo"></p-dropdown>
                <label>Sexo</label>
            </span>
        </div>
        <div class="ui-g-3 ui-sm-12">
            <span class="ui-float-label">
                <div
                    nAutoComplete
                    [service]="racaService"
                    field="valor"
                    formControlName="raca"
                    label="Raça/Cor"
                ></div>
            </span>
        </div>
        <div class="ui-g-3 ui-sm-12">
            <span class="ui-float-label">
                <div
                    nAutoComplete
                    [service]="etniaService"
                    field="valor"
                    formControlName="etnia"
                    label="Etnia"
                ></div>
            </span>
        </div>
        <div class="ui-g-3 ui-sm-12">
            <span class="ui-float-label">
                <div
                    nAutoComplete
                    [service]="estadoCivilService"
                    field="valor"
                    formControlName="estadoCivil"
                    label="Estado Civil"
                ></div>
            </span>
        </div>
    </div>
    <div class="ui-g-12">
        <div class="ui-g-2 ui-sm-12">
            <span class="ui-float-label">
                <p-inputMask
                    mask="9999999/9"
                    pTooltip="Digite o número do prontuário da mãe do paciente."
                    placeholder="_______/_"
                    formControlName="prontuarioDaMae"
                ></p-inputMask>
                <label>Prontuário da Mãe</label>
            </span>
        </div>
        <div class="ui-g-5 ui-sm-12">
            <span class="ui-float-label">
                <input
                    type="text"
                    pInputText
                    pTooltip="Digite o nome da mãe do paciente."
                    formControlName="nomeDaMae"
                />
                <label>Nome da Mãe</label>
            </span>
        </div>
        <div class="ui-g-5 ui-sm-12">
            <span class="ui-float-label">
                <input
                    type="text"
                    pInputText
                    pTooltip="Digite o nome do pai do paciente."
                    formControlName="nomeDoPai"
                />
                <label>Nome do Pai</label>
            </span>
        </div>
    </div>
    <div class="ui-g-12 ui-sm-12">
        <div class="ui-g-2 ui-sm-12">
            <span class="ui-float-label">
                <p-calendar
                    [locale]="localizacao"
                    [yearRange]="anosDisponiveis"
                    [dateFormat]="formatoDeData"
                    [maxDate]="dataLimite"
                    monthNavigator="true"
                    yearNavigator="true"
                    formControlName="dataDeNascimento"
                    (onSelect)="aoSelecionarDataDeNascimento()"
                    (onBlur)="aoSelecionarDataDeNascimento()"
                ></p-calendar>
                <label>Data de Nascimento</label>
            </span>
        </div>
        <div class="ui-g-2 ui-sm-12">
            <span class="ui-float-label">
                <p-calendar timeOnly="true" formControlName="horaDoNascimento"></p-calendar>
                <label>Hora do Nascimento</label>
            </span>
        </div>
        <div class="ui-g-2 ui-sm-12">
            <span class="ui-float-label">
                <input
                    type="text"
                    name="idade"
                    pInputText
                    value="0"
                    disabled
                    [(ngModel)]="idade"
                    [ngModelOptions]="{ standalone: true }"
                />
                <label>Idade</label>
            </span>
        </div>
        <div class="ui-g-2 ui-sm-12">
            <span class="ui-float-label">
                <div
                    nAutoComplete
                    [service]="nacionalidadeService"
                    field="valor"
                    formControlName="nacionalidade"
                    label="Nacionalidade"
                ></div>
            </span>
        </div>
        <div class="ui-g-2 ui-sm-12">
            <span class="ui-float-label">
                <div
                    nAutoComplete
                    [service]="naturalidadeService"
                    field="uf.unidadeFederativa"
                    formControlName="naturalidade"
                    label="Naturalidade"
                ></div>
            </span>
        </div>
        <div class="ui-g-2 ui-sm-12">
            <span class="ui-float-label">
                <input pInputText [disabled]="true" />
                <label>UF</label>
            </span>
        </div>
    </div>
    <div class="ui-g-12">
        <div class="ui-g-4 ui-sm-12">
            <span class="ui-float-label">
                <p-dropdown [options]="opcoesDeGrauDeInstrucao" formControlName="grauDeInstrucao">
                </p-dropdown>
                <label>Grau de Instrução</label>
            </span>
        </div>
        <div class="ui-g-4 ui-sm-12">
            <span class="ui-float-label">
                <div
                    nAutoComplete
                    [service]="ocupacaoService"
                    field="valor"
                    formControlName="ocupacao"
                    label="Ocupação"
                ></div>
            </span>
        </div>
        <div class="ui-g-4 ui-sm-12">
            <span class="ui-float-label">
                <div
                    nAutoComplete
                    [service]="religiaoService"
                    field="valor"
                    formControlName="religiao"
                    label="Religião"
                ></div>
            </span>
        </div>
    </div>
    <div class="ui-g-12">
        <div class="ui-g-4 ui-sm-12">
            <span class="ui-float-label">
                <input
                    type="email"
                    pInputText
                    pTooltip="Digite o email do paciente."
                    formControlName="email"
                />
                <label>Email</label>
            </span>
        </div>
    </div>
</div>
