#grupo {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

#codigo {
    height: min-content;
    margin: 0px 0px 0px 0px; 
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}
#table{
    margin-top: 20px;
}