<div class="p-grid p-fluid" [formGroup]="formGroup">
    <p-fieldset legend="Documentos" formGroupName="documento">
        <div class="p-fluid p-formgrid p-grid">
            <div
                nInputText
                label="Número da Identidade"
                formControlName="numeroDaIdentidade"
                class="p-md-3 p-sm-12"
            ></div>
            <div
                nAutoComplete
                [service]="orgaoEmissorService"
                field="valor"
                formControlName="orgaoEmissorId"
                label="Órgão Emissor"
                class="p-md-4 p-sm-12"
            ></div>
            <div
                nAutoComplete
                [service]="ufService"
                field="sigla"
                formControlName="ufId"
                label="UF"
                class="p-md-2 p-sm-12"
            ></div>
            <div
                madreCalendar
                label="Data de Emissão"
                formControlName="data"
                class="p-md-3 p-sm-12"
            ></div>
        </div>
        <div class="p-fluid p-formgrid p-grid">
            <div
                nInputMask
                label="CPF"
                formControlName="cpf"
                mask="999.999.999-99"
                tooltip="Digite o CPF do paciente."
                class="p-md-3 p-sm-12"
            ></div>
            <div
                nInputMask
                label="PIS/PASEP"
                formControlName="pisPasep"
                mask="999.99999.99-9"
                tooltip="Digite o PIS/PASEP do paciente."
                class="p-md-4 p-sm-12"
            ></div>
            <div
                nInputMask
                label="CNH"
                formControlName="cnh"
                mask="99999999999"
                tooltip="Digite a CNH do paciente."
                class="p-md-2 p-sm-12"
            ></div>
            <div
                madreCalendar
                label="Validade da CNH"
                formControlName="validadeDaCnh"
                class="p-md-3 p-sm-12"
            ></div>
        </div>
    </p-fieldset>
</div>
