<div class="ui-g ui-fluid">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <h1>{{ especialidade.id ? 'Editar Especialidade' : 'Cadastrar Especialidade' }}</h1>
      <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
        <div class="ui-g form-group">
          <input type="hidden" name="id" pInputText [(ngModel)]="especialidade.id" readonly/>
          <div class="ui-g-12 ui-md-6">
            <span class="md-inputfield">
              <input type="text" name="nome" required [(ngModel)]="especialidade.nome" pInputText/>
              <label>Nome da Especialidade</label>
            </span>
          </div>
          <div class="ui-g-12 ui-md-6">
            <span class="md-inputfield">
              <input type="text" name="descricao" [(ngModel)]="especialidade.descricao" pInputText/>
              <label>Descrição da Especialidade</label>
            </span>
          </div>
        </div>
        <div class="ui-g">
          <div class="ui-g-12 ui-md-2">
            <button pButton type="button" label="Cancelar" routerLink="/especialidade"></button>
          </div>
          <div class="ui-g-12 ui-md-2">
            <button pButton type="submit" label="Salvar" [disabled]="editForm.form.invalid || isSaving" ></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>