<div class="ui-g ui-fluid">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <h1>{{ especialidade.id ? 'Editar Especialidade' : 'Cadastrar Especialidade' }}</h1>
      <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
        <div class="ui-g form-group">
          <input type="hidden" name="id" pInputText [(ngModel)]="especialidade.id" readonly/>
          <div class="ui-g-12 ui-md-6">
            <span class="md-inputfield">
              <input type="text" name="nome" minlength="1" [(ngModel)]="especialidade.nome" pInputText required maxlength="100"
              <label>Nome da Especialidade *</label>
              <div *ngIf="editForm.controls['nome'] && !editForm.controls['nome'].valid && (editForm.controls['nome'].touched || editForm.submitted)" class="ui-message ui-messages-error">
                Campo obrigatório!
              </div>
            </span>
          </div>
          <div class="ui-g-12 ui-md-12">
            <span class="md-inputfield">
            <label>Descrição da Especialidade</label> <br>
              <textarea [rows]="12" [cols]="67" name="descricao"  pInputTextarea [(ngModel)]="especialidade.descricao" maxlength="250"></textarea>
            </span>
          </div>
        </div>
        <div class="ui-g">
          <div class="ui-g-12 ui-md-2">
            <button pButton type="button" label="Cancelar" routerLink="/especialidade"></button>
          </div>
          <div class="ui-g-12 ui-md-2">
            <button pButton type="submit" label="Salvar" [disabled]="isSaving" ></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>