<form [formGroup]="precricaoEnfermagem">
    <div class="p-grid">
        <div class="p-col-12 p-grid">
            <div class="p-md-3 p-sm-12">
                <span class="p-float-label">
                    <p-calendar timeOnly="true" formControlName="horarioValidade"></p-calendar>
                    <label>Horário Validade</label>
                </span>
            </div>
            <div class="p-md-3 p-sm-12">
                <span class="p-float-label">
                    <input
                        type="text"
                        pInputText
                        formControlName="tempoAdiantamento"
                        pTooltip="Digite a quantidade de tempo de adiantamento da prescrição de enfermagem."
                    />
                    <label>Tempo Adiantada</label>
                </span>
            </div>
            <div class="p-md-3 p-sm-12">
                <span class="p-float-label">
                    <p-dropdown formControlName="unidadeTempo" [options]="opcoesDeTempoDeUnidade">
                    </p-dropdown>
                    <label>Unidade Tempo</label>
                </span>
            </div>
            <div class="p-md-3 p-sm-12">
                <span class="p-float-label">
                    <input
                        type="text"
                        pInputText
                        formControlName="numeroVias"
                        pTooltip="Digite o número de vias da prescrição médica."
                    />
                    <label>Número de vias</label>
                </span>
            </div>
        </div>
    </div>
</form>
